Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint --config=.eslintrc.js --fix {staged_files}
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint --config=stylelint.config.js --fix {staged_files}
    prettier:
      glob: '*.{md,html,json,yml}'
      run: npx prettier --config=prettier.config.js --write {staged_files}

Add check for image id in cn
  components/atoms/Image/Image.js
Due: eslint

bump storybook addons
  package-lock.json
  package.json
Due: prettier

bump tailwind
  package-lock.json
  package.json
Due: prettier

bump next-auth
  package-lock.json
  package.json
Due: prettier

install deps
  package-lock.json
  package.json
Due: prettier

enable webpack 5
  next.config.js
Due: eslint

enable JIT compiler
  tailwind.config.js
Due: eslint

add postcss 8 support
  .storybook/main.js
Due: eslint

use lg: instead of @screen
  components/organisms/Header/Header.module.css
Due: stylelint

enable postcss 8 in storybook
  .storybook/main.js
Due: eslint

bump storybook and addons
  package-lock.json
  package.json
Due: prettier

Update .env.sample
  .env.sample
Due: none

bump next-auth to 3.14.6
  package-lock.json
  package.json
Due: prettier

bump storybook + addons to 6.2.7
  package-lock.json
  package.json
Due: prettier

bump @babel/core to 7.13.15
  package-lock.json
  package.json
Due: prettier

bump eslint and plugins to 7.24.0
  package-lock.json
  package.json
Due: prettier

bump next-sitemap to 1.6.25
  package-lock.json
  package.json
Due: prettier

356 - Change 404 slug to just 404 instead of 404-not-found
  pages/404.js
Due: eslint

add nextauth_url
  .env.sample
Due: none

add children prop to hero component
  components/organisms/Hero/Hero.js
Due: eslint

bump storybook and addons to 6.2.8
  package-lock.json
  package.json
Due: prettier

bump next-auth to 3.14.7
  package-lock.json
  package.json
Due: prettier

bump @apollo/client to 3.3.15
  package-lock.json
  package.json
Due: prettier

bump algoliasearch to 4.9.0
  package-lock.json
  package.json
Due: prettier

bump eslint-config-prettier to 8.2.0
  package-lock.json
  package.json
Due: prettier

bump elint-plugin-prettier to 3.4.0
  package-lock.json
  package.json
Due: prettier

bump pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

Fixes alignment of JSDoc
  components/organisms/Hero/Hero.js
Due: eslint

update order
  package.json
Due: prettier

update to be more clear
  CONTRIBUTING.md
Due: prettier

initial commit
  .github/workflows/coding-standards.yml
Due: prettier

rename to assertions
  .github/workflows/assertions.yml
Due: prettier

use npx
  .github/workflows/assertions.yml
Due: prettier

only run on PRs
  .github/workflows/chromatic.yml
Due: prettier

add paths
  .github/workflows/assertions.yml
Due: prettier

add JSDoc
  components/common/WordPressProvider.js
Due: eslint

remove unused var
  components/atoms/Image/Image.js
Due: eslint

remove unused var
  lib/wordpress/_global/getPostTypeArchive.js
Due: eslint

move chromatic action to assertions
  .github/workflows/chromatic.yml
  package.json
Due: prettier
