Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint {staged_files} --config=stylelint.config.js --fix
    prettier:
      glob: '*.{md,html,json,yml}'
      run: npx prettier  {staged_files} --config=prettier.config.js --write

Fix version
  theme/wds-headless-theme/functions.php
Due: none

Add Algolia plugin links
  docs/docs/backend/algolia.md
Due: prettier

Add Gravity Forms plugin links
  docs/docs/backend/gravity-forms.md
Due: prettier

Fix heading levels
  docs/docs/backend/gravity-forms.md
Due: prettier

main readme bump
  README.md
Due: prettier

contributing doc bump
  CONTRIBUTING.md
Due: prettier

check in README for each top-level directory
  docs/README.md
  packages/README.md
  plugins/README.md
  plugins/index.php
  tests/.gitkeep
  tests/README.md
  theme/README.md
Due: prettier

Update BE setup docs
  docs/docs/backend/index.md
Due: prettier

Update Algolia docs
  docs/docs/backend/algolia.md
Due: prettier

Update GF docs
  docs/docs/backend/gravity-forms.md
Due: prettier

Simplify main BE doc
  docs/docs/backend/index.md
Due: prettier

Update FE setup instructions
  docs/docs/frontend/index.md
Due: prettier

various doc updates
  docs/docs/backend/index.md
  docs/docs/backend/wp-config.md
  docs/docs/backend/wp-graphql.md
  docs/docs/frontend/overview.md
  docs/docs/index.md
  docs/src/pages/index.md
Due: prettier

fix name
  docs/docusaurus.config.js
Due: eslint

remove "note"
  docs/docs/backend/index.md
Due: prettier

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier

remove discussions link (for now)
  README.md
  docs/docs/index.md
  docs/src/pages/index.md
Due: prettier

Add Hero component Jest tests
  tests/jest/components/organism/Hero.test.js
Due: eslint

Add LzbMediaText component Jest tests
  tests/jest/components/organism/LzbMediaText.test.js
Due: eslint

update engines. lint docs
  package-lock.json
  package.json
Due: prettier

enable assertions against canary
  .github/workflows/assertions.yml
Due: prettier

update cache. use npm i. update job name.
  .github/workflows/assertions.yml
Due: prettier

change name
  .github/workflows/assertions.yml
Due: prettier

Add MediaText component Jest tests
  tests/jest/components/organism/MediaText.test.js
Due: eslint

npm ci is faster (by 30 seconds!)
  .github/workflows/assertions.yml
Due: prettier

run on cron
  .github/workflows/codeql-analysis.yml
Due: prettier

normalize names
  .github/workflows/publish-docs.yml
  .github/workflows/publish-plugins.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/publish-theme.yml
Due: prettier

update cache keys
  .github/workflows/publish-npm.yml
  .github/workflows/publish-storybook.yml
Due: prettier

Init headless-core
  packages/headless-core/package.json
Due: prettier

Port from apolloConfig
  packages/headless-core/package.json
  packages/headless-core/src/api/client/index.js
  packages/headless-core/src/api/index.js
  packages/headless-core/src/index.js
Due: eslint, prettier

Add WP config handling
  packages/headless-core/src/api/index.js
  packages/headless-core/src/api/wordpress/config/index.js
  packages/headless-core/src/api/wordpress/index.js
  packages/headless-core/src/index.js
Due: eslint

Change to file instead of separate folder
  packages/headless-core/src/api/wordpress/config.js
Due: eslint

Port WP Apollo client
  packages/headless-core/src/api/wordpress/client.js
  packages/headless-core/src/api/wordpress/index.js
Due: eslint

Port Next API Apollo client
  packages/headless-core/src/api/index.js
  packages/headless-core/src/api/next-api/client.js
  packages/headless-core/src/api/next-api/index.js
Due: eslint

Port wp login mutation
  packages/headless-core/src/api/wordpress/auth/index.js
  packages/headless-core/src/api/wordpress/auth/login.js
  packages/headless-core/src/api/wordpress/index.js
Due: eslint

Port wp refresh token mutation
  packages/headless-core/src/api/wordpress/auth/index.js
  packages/headless-core/src/api/wordpress/auth/refreshToken.js
Due: eslint

Port wp register user mutation
  packages/headless-core/src/api/wordpress/auth/index.js
  packages/headless-core/src/api/wordpress/auth/register.js
Due: eslint

Port wp login function
  packages/headless-core/src/api/wordpress/auth/login.js
Due: eslint

Port wp refresh token function
  packages/headless-core/src/api/wordpress/auth/refreshToken.js
Due: eslint

Port wp register user function
  packages/headless-core/src/api/wordpress/auth/register.js
Due: eslint
