Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint {staged_files} --config=stylelint.config.js --fix
    prettier:
      glob: '*.{md,html,json,yml}'
      run: npx prettier  {staged_files} --config=prettier.config.js --write

bump @storybook and addons to 6.3.4
  package-lock.json
  package.json
Due: prettier

bump autoprefixer to 10.3.0
  package-lock.json
  package.json
Due: prettier

bump eslint-plugin-jsdoc to 35.4.3
  package-lock.json
  package.json
Due: prettier

bump autoprefixer to 10.3.1
  package-lock.json
  package.json
Due: prettier

bump eslint to 7.30.1
  package-lock.json
  package.json
Due: prettier

bump eslint-plugin-jsdoc to 35.4.5
  package-lock.json
  package.json
Due: prettier

bump next-sitemap to 1.6.140
  package-lock.json
  package.json
Due: prettier

bump storybook-addon-next-router to 3.0.5
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
Due: eslint, prettier

Use heading block and pass alignment
  components/blocks/Gutenberg/BlockHeadings/BlockHeadings.js
Due: eslint

Handle alignment and style props
  components/atoms/Heading/Heading.js
Due: eslint

Add alignment styles
  components/atoms/Heading/Heading.module.css
Due: stylelint

Update heading story
  components/atoms/Heading/Heading.stories.mdx
Due: none

Revert to tailwind classname in block component
  components/atoms/Heading/Heading.js
  components/atoms/Heading/Heading.module.css
  components/blocks/Gutenberg/BlockHeadings/BlockHeadings.js
Due: eslint, stylelint

Fix text alignment handling
  components/blocks/Gutenberg/BlockHeadings/BlockHeadings.js
Due: eslint

Fix tailwind class handling
  components/atoms/Table/Table.js
Due: eslint

Fix align class handling
  components/blocks/Gutenberg/BlockParagraph/BlockParagraph.js
Due: eslint

Add handling for left-align
  components/blocks/Gutenberg/BlockHeadings/BlockHeadings.js
Due: eslint

Remove alignment from story
  components/atoms/Heading/Heading.stories.mdx
Due: none

bump @apollo/client to 3.4.1
  package-lock.json
  package.json
Due: prettier

bump @babel/core to 7.14.8
  package-lock.json
  package.json
Due: prettier

bump @storybook and addons to 6.3.6
  package-lock.json
  package.json
Due: prettier

bump eslint to 7.32.0
  package-lock.json
  package.json
Due: prettier

bump eslint-plugin-jest to 24.4.0
  package-lock.json
  package.json
Due: prettier

bump eslint-plugin-jsdoc to 36.0.6
  package-lock.json
  package.json
Due: prettier

bump markdownlint-cli to 0.28.1
  package-lock.json
  package.json
Due: prettier

bump postcss to 8.3.6
  package-lock.json
  package.json
Due: prettier

bump react-instantsearch-dom to 6.12.1
  package-lock.json
  package.json
Due: prettier

bump react-syntax-highlighter to 15.4.4
  package-lock.json
  package.json
Due: prettier

bump tailwindcss to 2.2.7
  package-lock.json
  package.json
Due: prettier

footer social links need a key prop
  components/organisms/Footer/Footer.js
Due: eslint

bump @apollo/client to 3.4.5
  package-lock.json
  package.json
Due: prettier

bump @babel/core to 7.15.0
  package-lock.json
  package.json
Due: prettier

bump next-sitemap to 1.6.148
  package-lock.json
  package.json
Due: prettier

bump storybook-addon-next-router to 3.0.7
  package-lock.json
  package.json
Due: prettier

bump next-connect to 0.10.2
  package-lock.json
  package.json
Due: prettier

bump nextjs to 11.1.0
  package-lock.json
  package.json
Due: prettier

bump next-auth to 3.28.0
  package-lock.json
  package.json
Due: prettier

bump @apollo/client to 3.4.7
  package-lock.json
  package.json
Due: prettier

bump @storybook (and addons) to 6.3.7
  package-lock.json
  package.json
Due: prettier

bump eslint-plugin-jsdoc to 36.0.7
  package-lock.json
  package.json
Due: prettier
