Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint {staged_files} --config=stylelint.config.js --fix
    prettier:
      glob: '*.{md,html,json,yml}'
      run: npx prettier  {staged_files} --config=prettier.config.js --write

Add CheckboxGroup component Jest tests
  tests/jest/components/atoms/Inputs/CheckboxGroup.test.js
Due: eslint

missing break
  functions/next-api/wordpress/gravityForms/processGfFieldValues.js
Due: eslint

ignore heading emphasis
  .markdownlint.json
Due: prettier

formatting
  docs/Backend-Overview.md
  docs/Backend-Setup.md
  docs/Builds.md
  docs/Custom-Post-Types.md
  docs/Frontend-Setup.md
  docs/Gravity-Forms.md
  docs/WordPress-Theme-Functions.md
  docs/component-css-module.md
Due: prettier

Port wds-headless-blocks plugin
  plugins/wds-headless-blocks/.editorconfig
  plugins/wds-headless-blocks/.gitignore
  plugins/wds-headless-blocks/.phpcs.xml
  plugins/wds-headless-blocks/activation.php
  plugins/wds-headless-blocks/composer.json
  plugins/wds-headless-blocks/composer.lock
  plugins/wds-headless-blocks/deactivation.php
  plugins/wds-headless-blocks/index.php
  plugins/wds-headless-blocks/wds-headless-blocks.php
Due: prettier

Update repo link
  plugins/wds-headless-blocks/wds-headless-blocks.php
  plugins/wds-headless-core/wds-headless-core.php
Due: none

Scaffold ACF plugin
  plugins/wds-headless-acf/.editorconfig
  plugins/wds-headless-acf/.gitignore
  plugins/wds-headless-acf/.phpcs.xml
  plugins/wds-headless-acf/activation.php
  plugins/wds-headless-acf/composer.json
  plugins/wds-headless-acf/composer.lock
  plugins/wds-headless-acf/deactivation.php
  plugins/wds-headless-acf/wds-headless-acf.php
Due: prettier

Scaffold Algolia plugin
  plugins/wds-headless-algolia/.editorconfig
  plugins/wds-headless-algolia/.gitignore
  plugins/wds-headless-algolia/.phpcs.xml
  plugins/wds-headless-algolia/activation.php
  plugins/wds-headless-algolia/composer.json
  plugins/wds-headless-algolia/composer.lock
  plugins/wds-headless-algolia/deactivation.php
  plugins/wds-headless-algolia/wds-headless-algolia.php
Due: prettier

Update blocks description
  plugins/wds-headless-blocks/composer.json
  plugins/wds-headless-blocks/wds-headless-blocks.php
Due: prettier

Scaffold Gravity Forms plugin
  plugins/wds-headless-gravityforms/.editorconfig
  plugins/wds-headless-gravityforms/.gitignore
  plugins/wds-headless-gravityforms/.phpcs.xml
  plugins/wds-headless-gravityforms/activation.php
  plugins/wds-headless-gravityforms/composer.json
  plugins/wds-headless-gravityforms/composer.lock
  plugins/wds-headless-gravityforms/deactivation.php
  plugins/wds-headless-gravityforms/wds-headless-blocks.php
Due: prettier

Scaffold SEO plugin
  plugins/wds-headless-seo/.editorconfig
  plugins/wds-headless-seo/.gitignore
  plugins/wds-headless-seo/.phpcs.xml
  plugins/wds-headless-seo/activation.php
  plugins/wds-headless-seo/composer.json
  plugins/wds-headless-seo/composer.lock
  plugins/wds-headless-seo/deactivation.php
  plugins/wds-headless-seo/wds-headless-blocks.php
Due: prettier

Fix plugin file names
  plugins/wds-headless-gravityforms/wds-headless-gravityforms.php
  plugins/wds-headless-seo/wds-headless-seo.php
Due: none

Disable specific blocks
  plugins/wds-headless-blocks/inc/block-manager.php
  plugins/wds-headless-blocks/wds-headless-blocks.php
Due: none

Add custom block category
  plugins/wds-headless-blocks/inc/blocks.php
  plugins/wds-headless-blocks/wds-headless-blocks.php
Due: none

Restrict font sizes
  plugins/wds-headless-blocks/inc/blocks.php
Due: none

add test command
  package.json
Due: prettier

check in publish to npm action
  .github/workflows/publish-npm.yml
Due: prettier

Use block_categories_all
  plugins/wds-headless-blocks/inc/blocks.php
Due: none

Add block script
  plugins/wds-headless-blocks/inc/blocks.php
  plugins/wds-headless-blocks/js/blocks.js
Due: eslint

Register custom settings page
  plugins/wds-headless-core/inc/settings.php
Due: none

Format doc block
  plugins/wds-headless-blocks/inc/blocks.php
Due: none

check in publish plugins action
  .github/workflows/publish-plugins.yml
Due: prettier

Lint clean up
  functions/next-api/wordpress/gravityForms/processGfFieldValues.js
Due: eslint

Fix doc block
  plugins/wds-headless-core/acf-json/index.php
Due: none

Add ACF Media Block json
  plugins/wds-headless-acf/acf-json/group_601bfb9db9871.json
  plugins/wds-headless-acf/acf-json/index.php
  plugins/wds-headless-acf/inc/acf.php
  plugins/wds-headless-acf/wds-headless-acf.php
Due: prettier

Register ACF Media Block
  plugins/wds-headless-acf/inc/acf-blocks.php
  plugins/wds-headless-acf/wds-headless-acf.php
Due: none

Update text domain
  plugins/wds-headless-core/inc/wp-graphql.php
Due: none

use matrix to loop over each plugin
  .github/workflows/publish-plugins.yml
Due: prettier

update path
  .github/workflows/publish-plugins.yml
Due: prettier

rename setup
  .github/workflows/publish-plugins.yml
Due: prettier

Add Algolia customizations
  plugins/wds-headless-algolia/inc/algolia.php
  plugins/wds-headless-algolia/wds-headless-algolia.php
Due: none

Add WP GraphQL GF customizations
  plugins/wds-headless-gravityforms/inc/wp-graphql.php
  plugins/wds-headless-gravityforms/wds-headless-gravityforms.php
Due: none

Add GraphQL SEO customizations
  plugins/wds-headless-seo/inc/wp-graphql.php
  plugins/wds-headless-seo/wds-headless-seo.php
Due: none

Remove checks
  plugins/wds-headless-core/inc/wp-graphql.php
  plugins/wds-headless-gravityforms/inc/wp-graphql.php
  plugins/wds-headless-seo/inc/wp-graphql.php
Due: none

Fix since tag
  plugins/wds-headless-seo/inc/wp-graphql.php
Due: none

Add SEO link replacement
  plugins/wds-headless-seo/inc/links.php
  plugins/wds-headless-seo/wds-headless-seo.php
Due: none

Fix since tag
  plugins/wds-headless-seo/inc/links.php
Due: none
