Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=stylelint.config.js --fix

prettier:
  run: npx prettier  {staged_files} --config=prettier.config.js --write

Simplify taxonomy static paths arg
  packages/headless-core/src/utils/getNextStaticPaths.js
Due: eslint

Update static props to use URI for tax archives
  packages/headless-core/src/utils/getNextStaticProps.js
Due: eslint

Fix post archive retrieval
  packages/headless-core/src/utils/getNextStaticProps.js
Due: eslint

Use object for pagination params
  packages/headless-core/src/api/wordpress/posts/archive.js
  packages/headless-core/src/utils/getNextStaticProps.js
Due: eslint

add keywords and license
  packages/headless-core/package.json
Due: prettier

add esbuild and rimraf
  package-lock.json
  package.json
Due: prettier

Fix imports
  packages/headless-core/src/components/atoms/Button/Button.js
  packages/headless-core/src/components/atoms/Image/Image.js
  packages/headless-core/src/components/atoms/Quote/Quote.js
  packages/headless-core/src/components/atoms/Table/Table.js
  packages/headless-core/src/components/atoms/TwitterEmbed/TwitterEmbed.js
  packages/headless-core/src/components/atoms/VideoEmbed/VideoEmbed.js
  packages/headless-core/src/components/blocks/BlockButton/BlockButton.js
  packages/headless-core/src/components/blocks/BlockButtons/BlockButtons.js
  packages/headless-core/src/components/blocks/BlockCode/BlockCode.js
  packages/headless-core/src/components/blocks/BlockColumns/BlockColumns.js
  packages/headless-core/src/components/blocks/BlockCover/BlockCover.js
  packages/headless-core/src/components/blocks/BlockEmbed/BlockEmbed.js
  packages/headless-core/src/components/blocks/BlockHeadings/BlockHeadings.js
  packages/headless-core/src/components/blocks/BlockImage/BlockImage.js
  packages/headless-core/src/components/blocks/BlockImageGallery/BlockImageGallery.js
  packages/headless-core/src/components/blocks/BlockList/BlockList.js
  packages/headless-core/src/components/blocks/BlockMediaText/BlockMediaText.js
  packages/headless-core/src/components/blocks/BlockParagraph/BlockParagraph.js
  packages/headless-core/src/components/blocks/BlockPullQuote/BlockPullQuote.js
  packages/headless-core/src/components/blocks/BlockQuote/BlockQuote.js
  packages/headless-core/src/components/blocks/BlockSeparator/BlockSeparator.js
  packages/headless-core/src/components/blocks/BlockSpacer/BlockSpacer.js
  packages/headless-core/src/components/blocks/BlockTable/BlockTable.js
  packages/headless-core/src/components/molecules/ImageGallery/ImageGallery.js
  packages/headless-core/src/components/molecules/MediaText/MediaText.js
  packages/headless-core/src/components/organisms/Hero/Hero.js
  packages/headless-core/src/utils/displayBlock.js
Due: eslint

Add initial example config files
  examples/basic/.env.sample
  examples/basic/.gitignore
  examples/basic/README.md
  examples/basic/jsconfig.json
  examples/basic/package-lock.json
  examples/basic/package.json
Due: prettier

Fix imports
  packages/headless-core/src/utils/displayBlock.js
Due: eslint

Fix errors
  packages/headless-core/package-lock.json
  packages/headless-core/package.json
  packages/headless-core/src/api/wordpress/config.js
  packages/headless-core/src/api/wordpress/menus/parseMenus.js
Due: eslint, prettier

Fix imports
  packages/headless-core/src/api/wordpress/blocks/parseBlocks.js
  packages/headless-core/src/api/wordpress/global/getSinglePostOfType.js
  packages/headless-core/src/components/atoms/Button/Button.js
  packages/headless-core/src/components/atoms/Image/Image.js
  packages/headless-core/src/components/atoms/PullQuote/PullQuote.js
  packages/headless-core/src/components/atoms/Quote/Quote.js
  packages/headless-core/src/components/atoms/Table/Table.js
  packages/headless-core/src/components/atoms/TwitterEmbed/TwitterEmbed.js
  packages/headless-core/src/components/atoms/VideoEmbed/VideoEmbed.js
  packages/headless-core/src/components/blocks/BlockButton/BlockButton.js
  packages/headless-core/src/components/blocks/BlockButtons/BlockButtons.js
  packages/headless-core/src/components/blocks/BlockCode/BlockCode.js
  packages/headless-core/src/components/blocks/BlockColumns/BlockColumns.js
  packages/headless-core/src/components/blocks/BlockCover/BlockCover.js
  packages/headless-core/src/components/blocks/BlockEmbed/BlockEmbed.js
  packages/headless-core/src/components/blocks/BlockHeadings/BlockHeadings.js
  packages/headless-core/src/components/blocks/BlockImage/BlockImage.js
  packages/headless-core/src/components/blocks/BlockImageGallery/BlockImageGallery.js
  packages/headless-core/src/components/blocks/BlockList/BlockList.js
  packages/headless-core/src/components/blocks/BlockMediaText/BlockMediaText.js
  packages/headless-core/src/components/blocks/BlockParagraph/BlockParagraph.js
  packages/headless-core/src/components/blocks/BlockPullQuote/BlockPullQuote.js
  packages/headless-core/src/components/blocks/BlockQuote/BlockQuote.js
  packages/headless-core/src/components/blocks/BlockSeparator/BlockSeparator.js
  packages/headless-core/src/components/blocks/BlockSpacer/BlockSpacer.js
  packages/headless-core/src/components/blocks/BlockTable/BlockTable.js
  packages/headless-core/src/components/molecules/ImageGallery/ImageGallery.js
  packages/headless-core/src/components/molecules/MediaText/MediaText.js
  packages/headless-core/src/components/organisms/Hero/Hero.js
  packages/headless-core/src/utils/displayBlock.js
Due: eslint

Add missing deps
  packages/headless-core/package-lock.json
  packages/headless-core/package.json
Due: prettier

bump
  package-lock.json
Due: prettier

delete package-lock
  packages/headless-core/package-lock.json
Due: prettier

Simplify imports
  packages/headless-core/src/components/blocks/BlockButton/BlockButton.js
  packages/headless-core/src/components/blocks/BlockButtons/BlockButtons.js
  packages/headless-core/src/components/blocks/BlockCode/BlockCode.js
  packages/headless-core/src/components/blocks/BlockColumns/BlockColumns.js
  packages/headless-core/src/components/blocks/BlockCover/BlockCover.js
  packages/headless-core/src/components/blocks/BlockEmbed/BlockEmbed.js
  packages/headless-core/src/components/blocks/BlockHeadings/BlockHeadings.js
  packages/headless-core/src/components/blocks/BlockImage/BlockImage.js
  packages/headless-core/src/components/blocks/BlockImageGallery/BlockImageGallery.js
  packages/headless-core/src/components/blocks/BlockList/BlockList.js
  packages/headless-core/src/components/blocks/BlockMediaText/BlockMediaText.js
  packages/headless-core/src/components/blocks/BlockParagraph/BlockParagraph.js
  packages/headless-core/src/components/blocks/BlockPullQuote/BlockPullQuote.js
  packages/headless-core/src/components/blocks/BlockQuote/BlockQuote.js
  packages/headless-core/src/components/blocks/BlockSeparator/BlockSeparator.js
  packages/headless-core/src/components/blocks/BlockSpacer/BlockSpacer.js
  packages/headless-core/src/components/blocks/BlockTable/BlockTable.js
  packages/headless-core/src/components/molecules/ImageGallery/ImageGallery.js
  packages/headless-core/src/components/molecules/MediaText/MediaText.js
  packages/headless-core/src/components/organisms/Hero/Hero.js
Due: eslint

Ignore dist
  .gitignore
Due: none

enable module support
  .eslintrc.js
  packages/headless-core/package.json
  packages/headless-core/src/index.mjs
Due: eslint, prettier

ignore dist/
  .gitignore
  packages/headless-core/.npmignore
Due: none

specifcy main file
  packages/headless-core/package.json
Due: prettier

Remove duplicate ignore
  .gitignore
Due: none

bump readme
  packages/headless-core/README.md
Due: prettier

bump version
  packages/headless-core/package.json
Due: prettier

add @latest
  packages/headless-core/README.md
Due: prettier

Add headless-core
  examples/basic/package-lock.json
  examples/basic/package.json
Due: prettier

Add public, styles folders from /next
  examples/basic/public/favicon/android-icon-144x144.png
  examples/basic/public/favicon/android-icon-192x192.png
  examples/basic/public/favicon/android-icon-36x36.png
  examples/basic/public/favicon/android-icon-48x48.png
  examples/basic/public/favicon/android-icon-512x512.png
  examples/basic/public/favicon/android-icon-72x72.png
  examples/basic/public/favicon/android-icon-96x96.png
  examples/basic/public/favicon/apple-icon-114x114.png
  examples/basic/public/favicon/apple-icon-120x120.png
  examples/basic/public/favicon/apple-icon-144x144.png
  examples/basic/public/favicon/apple-icon-152x152.png
  examples/basic/public/favicon/apple-icon-180x180.png
  examples/basic/public/favicon/apple-icon-57x57.png
  examples/basic/public/favicon/apple-icon-60x60.png
  examples/basic/public/favicon/apple-icon-72x72.png
  examples/basic/public/favicon/apple-icon-76x76.png
  examples/basic/public/favicon/apple-icon-precomposed.png
  examples/basic/public/favicon/apple-icon.png
  examples/basic/public/favicon/browserconfig.xml
  examples/basic/public/favicon/favicon-16x16.png
  examples/basic/public/favicon/favicon-32x32.png
  examples/basic/public/favicon/favicon-96x96.png
  examples/basic/public/favicon/favicon.ico
  examples/basic/public/favicon/maskable_icon.png
  examples/basic/public/favicon/ms-icon-144x144.png
  examples/basic/public/favicon/ms-icon-150x150.png
  examples/basic/public/favicon/ms-icon-310x310.png
  examples/basic/public/favicon/ms-icon-70x70.png
  examples/basic/public/favicon/site.webmanifest
  examples/basic/public/images/wds-logo-inverse.svg
  examples/basic/public/images/wds-logo.svg
  examples/basic/public/robots.txt
  examples/basic/public/sitemap.xml
  examples/basic/styles/demo.css
  examples/basic/styles/index.css
Due: stylelint

canary.2
  packages/headless-core/package.json
Due: prettier

move dependencies
  packages/headless-core/package.json
Due: prettier

Add import
  packages/headless-core/src/api/wordpress/media/single.js
Due: eslint

canary.4
  packages/headless-core/package.json
Due: prettier

Add import
  packages/headless-core/src/utils/getPropTypes.js
Due: eslint

canary.5
  packages/headless-core/package.json
Due: prettier

change to latest
  examples/basic/package.json
Due: prettier

use next
  examples/basic/package.json
Due: prettier

remove next from packages
  package-lock.json
  package.json
Due: prettier

rename to index.js
  packages/headless-core/src/index.js
Due: eslint

update bundler. add engine. use peerDeps.
  packages/headless-core/package.json
Due: prettier

bump
  .vscode/snipsnap.code-snippets
Due: none

ignore src
  packages/headless-core/.npmignore
Due: none

create build script
  scripts/build-core.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
