Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint {staged_files} --config=stylelint.config.js --fix
    prettier:
      glob: '*.{md,html,json,yml}'
      run: npx prettier  {staged_files} --config=prettier.config.js --write

use script
  packages/headless-core/package.json
Due: prettier

set to node. only minify whitespace
  scripts/build-core.js
Due: eslint

move prop-types to peerDeps
  packages/headless-core/package.json
Due: prettier

bump to canary.8
  packages/headless-core/package.json
Due: prettier

dependency bump
  docs/package-lock.json
  docs/package.json
Due: prettier

initial commit of npm workflows
  docs/docs/other/npm-workflows.md
Due: prettier

remove ignore
  packages/headless-core/.npmignore
Due: none

move displayBlock to /components
  packages/headless-core/src/components/displayBlock.js
Due: eslint

delete .gitkeep
  scripts/.gitkeep
Due: none

update import paths
  packages/headless-core/src/components/index.js
  packages/headless-core/src/components/molecules/Blocks/Blocks.js
  packages/headless-core/src/utils/index.js
Due: eslint

only build the react components
  scripts/build-core.js
Due: eslint

use exports
  packages/headless-core/package.json
Due: prettier

canary.9
  packages/headless-core/package.json
Due: prettier

canary.10
  packages/headless-core/package.json
Due: prettier

use es modules
  packages/headless-core/package.json
  packages/headless-core/src/index.mjs
  packages/headless-core/src/utils/convertHextoRgb.mjs
  packages/headless-core/src/utils/index.mjs
Due: prettier

update imports
  packages/headless-core/src/components/blocks/BlockButton/BlockButton.js
  packages/headless-core/src/components/blocks/BlockCode/BlockCode.js
  packages/headless-core/src/components/blocks/BlockColumns/BlockColumns.js
  packages/headless-core/src/components/blocks/BlockCover/BlockCover.js
  packages/headless-core/src/components/blocks/BlockHeadings/BlockHeadings.js
  packages/headless-core/src/components/blocks/BlockMediaText/BlockMediaText.js
  packages/headless-core/src/components/blocks/BlockParagraph/BlockParagraph.js
  packages/headless-core/src/components/organisms/Hero/Hero.js
Due: eslint

Fix deps
  .gitignore
  examples/basic/package-lock.json
  examples/basic/package.json
  package-lock.json
Due: prettier

Add initial components to example
  examples/basic/components/atoms/Container/Container.js
  examples/basic/components/atoms/Container/Container.module.css
  examples/basic/components/atoms/Container/index.js
  examples/basic/components/atoms/Inputs/InputError/InputError.js
  examples/basic/components/atoms/Inputs/InputError/InputError.module.css
  examples/basic/components/atoms/Inputs/InputError/index.js
  examples/basic/components/atoms/Inputs/Text/Text.js
  examples/basic/components/atoms/Inputs/Text/Text.module.css
  examples/basic/components/atoms/Inputs/Text/index.js
  examples/basic/components/atoms/Inputs/index.js
  examples/basic/components/atoms/Logo/Logo.js
  examples/basic/components/atoms/Logo/index.js
  examples/basic/components/molecules/Form/Form.js
  examples/basic/components/molecules/Form/Form.module.css
  examples/basic/components/molecules/Form/index.js
  examples/basic/components/molecules/Meta/Meta.js
  examples/basic/components/molecules/Meta/index.js
  examples/basic/components/organisms/Footer/Footer.js
  examples/basic/components/organisms/Footer/Footer.module.css
  examples/basic/components/organisms/Footer/index.js
Due: eslint, stylelint

Add layout components
  examples/basic/components/molecules/Navigation/Navigation.js
  examples/basic/components/molecules/Navigation/Navigation.module.css
  examples/basic/components/molecules/Navigation/index.js
  examples/basic/components/organisms/Header/Header.js
  examples/basic/components/organisms/Header/Header.module.css
  examples/basic/components/organisms/Header/index.js
  examples/basic/components/organisms/Layout/Layout.js
  examples/basic/components/organisms/Layout/index.js
  examples/basic/lib/isLinkActive.js
Due: eslint, stylelint

dependency bump
  packages/next/package-lock.json
  packages/next/package.json
Due: prettier

Remove core
  packages/core/.gitkeep
Due: none

remove publish npm
  .github/workflows/publish-npm.yml
Due: prettier

add install
  .github/workflows/publish-plugins.yml
Due: prettier

move to one line
  .github/workflows/publish-plugins.yml
Due: prettier

install theme on prod
  .github/workflows/publish-theme.yml
Due: prettier

use the force
  .github/workflows/publish-plugins.yml
  .github/workflows/publish-theme.yml
Due: prettier

go into docs dir
  .github/workflows/publish-docs.yml
Due: prettier

Update sitemap
  packages/legacy-nextjs-wordpress-starter/public/sitemap.xml
Due: none

Update doc link
  docs/docs/frontend/index.md
Due: prettier

only lint docs markdown
  docs/package.json
Due: prettier

depedency bump
  package-lock.json
  package.json
Due: prettier

bring packages into docs
  docs/.markdownlint.json
  docs/.markdownlintignore
  docs/.prettierignore
  docs/.prettierrc.js
  docs/package.json
Due: eslint, prettier

update doc intros
  docs/docs/index.md
  docs/src/pages/index.md
Due: prettier

bump
  README.md
Due: prettier

Use absolute paths in plugins
  plugins/wds-headless-acf/inc/tgm/tgm.php
  plugins/wds-headless-algolia/inc/tgm/tgm.php
  plugins/wds-headless-blocks/inc/tgm/tgm.php
  plugins/wds-headless-core/inc/tgm/tgm.php
  plugins/wds-headless-gravityforms/inc/tgm/tgm.php
  plugins/wds-headless-seo/inc/tgm/tgm.php
Due: none

Use absolute path in theme
  theme/wds-headless-theme/inc/tgm/tgm.php
Due: none

remove plugin first
  .github/workflows/publish-plugins.yml
Due: prettier

use rsync to copy files. then activate
  .github/workflows/publish-plugins.yml
Due: prettier
