Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=stylelint.config.js --fix

prettier:
  run: npx prettier  {staged_files} --config=prettier.config.js --write

Handle width changes in grid
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
  components/organisms/MediaText/MediaText.js
  components/organisms/MediaText/MediaText.module.css
Due: eslint, stylelint

Add handling for not stacking on mobile
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
  components/organisms/MediaText/MediaText.js
  components/organisms/MediaText/MediaText.module.css
Due: eslint, stylelint

Add back rounding
  components/organisms/MediaText/MediaText.module.css
Due: stylelint

Expand padding to all sides
  components/organisms/MediaText/MediaText.module.css
Due: stylelint

Add handling for text alignment
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
  components/organisms/MediaText/MediaText.js
  components/organisms/MediaText/MediaText.module.css
Due: eslint, stylelint

Handle imagefill attr
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
  components/organisms/MediaText/MediaText.js
Due: eslint

Add basic image-fill handling, styling
  components/organisms/MediaText/MediaText.js
  components/organisms/MediaText/MediaText.module.css
Due: eslint, stylelint

Add focal point support
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
  components/organisms/MediaText/MediaText.js
Due: eslint

Fix image fill styling
  components/organisms/MediaText/MediaText.js
Due: eslint

Add rounded corners
  components/organisms/MediaText/MediaText.module.css
Due: stylelint

Add gradient hex style handling
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
Due: eslint

Extract background to const
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
Due: eslint

Fix media width handling
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
Due: eslint

Add vertical alignment to media
  components/organisms/MediaText/MediaText.module.css
Due: stylelint

Only apply min-height for image fill
  components/organisms/MediaText/MediaText.module.css
Due: stylelint

Add gradient support for button
  components/blocks/Gutenberg/BlockButton/BlockButton.js
Due: eslint

Add gradient support to code block
  components/blocks/Gutenberg/BlockCode/BlockCode.js
Due: eslint

Add columns color handling
  components/atoms/Columns/Columns.js
  components/blocks/Gutenberg/BlockColumns/BlockColumns.js
Due: eslint

Fix comment
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
Due: eslint

Add function to handle formatting block styles
  functions/wordpress/blocks/getBlockStyles.js
Due: eslint

Use new fn for columns
  components/blocks/Gutenberg/BlockColumns/BlockColumns.js
Due: eslint

Fix color prop name
  functions/wordpress/blocks/getBlockStyles.js
Due: eslint

Handle inner column styles
  components/blocks/Gutenberg/BlockColumns/BlockColumns.js
Due: eslint

Fix prop types
  components/blocks/Gutenberg/BlockColumns/BlockColumns.js
Due: eslint

Pass vertical alignment prop
  components/blocks/Gutenberg/BlockColumns/BlockColumns.js
Due: eslint

Handle vert align in columns
  components/atoms/Columns/Columns.js
  components/atoms/Columns/Columns.module.css
Due: eslint, stylelint

Add columns padding for backgrounds
  components/atoms/Columns/Columns.js
  components/atoms/Columns/Columns.module.css
Due: eslint, stylelint

Add child column padding
  components/atoms/Columns/Columns.js
  components/atoms/Columns/Columns.module.css
Due: eslint, stylelint

update banner
  README.md
Due: prettier

update banner url
  README.md
Due: prettier

Add fontsize handling
  functions/wordpress/blocks/getBlockStyles.js
Due: eslint

Simplify paragraph, richtext style handling
  components/atoms/RichText/RichText.js
  components/blocks/Gutenberg/BlockParagraph/BlockParagraph.js
Due: eslint

Fix prop
  components/blocks/Gutenberg/BlockParagraph/BlockParagraph.js
Due: eslint

Add width handling
  functions/wordpress/blocks/getBlockStyles.js
Due: eslint

Simplify button style handling
  components/blocks/Gutenberg/BlockButton/BlockButton.js
Due: eslint

Simplify code block style handling
  components/blocks/Gutenberg/BlockCode/BlockCode.js
Due: eslint

Simplify mediatext style handling
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
Due: eslint

Add all block attrs
  components/blocks/Gutenberg/BlockCover/BlockCover.js
Due: eslint

allow : in markdown heading punctuation
  .markdownlint.json
Due: prettier

Add basic overlay color styling
  components/blocks/Gutenberg/BlockCover/BlockCover.js
  components/organisms/Hero/Hero.js
  components/organisms/Hero/Hero.module.css
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
