Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=stylelint.config.js --fix

prettier:
  run: npx prettier  {staged_files} --config=prettier.config.js --write

install and activate theme
  .github/workflows/publish-theme.yml
Due: prettier

it's theme not themes
  .github/workflows/publish-theme.yml
Due: prettier

documentation bump
  README.md
  docs/docs/index.md
  docs/src/pages/index.md
Due: prettier

bumo
  .vscode/snipsnap.code-snippets
Due: none

Update BlockMediaText prop handling
  packages/legacy-nextjs-wordpress-starter/components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
  packages/legacy-nextjs-wordpress-starter/functions/wordpress/blocks/displayBlock.js
Due: eslint

add storybook command
  package.json
Due: prettier

link to docs website
  CONTRIBUTING.md
Due: prettier

fix broken links
  README.md
Due: prettier

move wds links to header
  docs/docusaurus.config.js
Due: eslint

style blockquotes
  docs/src/css/custom.css
Due: stylelint

level up docs
  docs/docs/backend/index.md
  docs/docs/backend/wp-config.md
  docs/docs/contributing.md
  docs/docs/frontend/folder-structure.md
  docs/docs/frontend/overview.md
  docs/docs/index.md
  docs/docs/storybook/index.md
Due: prettier

Update BlockButton prop handling
  packages/legacy-nextjs-wordpress-starter/components/blocks/Gutenberg/BlockButtons/BlockButtons.js
  packages/legacy-nextjs-wordpress-starter/components/molecules/ButtonGroup/ButtonGroup.js
  packages/legacy-nextjs-wordpress-starter/components/molecules/ButtonGroup/ButtonGroup.module.css
  packages/legacy-nextjs-wordpress-starter/functions/wordpress/blocks/displayBlock.js
Due: eslint, stylelint

Update docs
  docs/docs/frontend/index.md
Due: prettier

Replace next.config entry with _document
  frontend/next.config.js
  frontend/pages/_document.js
Due: eslint

Update sitemap
  frontend/public/sitemap.xml
Due: none

Update BlockColumns prop handling
  frontend/components/blocks/Gutenberg/BlockColumns/BlockColumns.js
  frontend/functions/wordpress/blocks/displayBlock.js
Due: eslint

Update BlockCover prop handling
  frontend/components/blocks/Gutenberg/BlockCover/BlockCover.js
  frontend/functions/wordpress/blocks/displayBlock.js
Due: eslint

Update BlockGravityForm prop handling
  frontend/components/blocks/Gutenberg/BlockGravityForm/BlockGravityForm.js
  frontend/functions/wordpress/blocks/displayBlock.js
Due: eslint

Update LzbBlockMediaText prop handling
  frontend/components/blocks/LazyBlocks/LzbBlockMediaText/LzbBlockMediaText.js
  frontend/functions/wordpress/blocks/displayBlock.js
Due: eslint

Update LzbBlockHero prop handling
  frontend/components/blocks/LazyBlocks/LzbBlockHero/LzbBlockHero.js
  frontend/functions/wordpress/blocks/displayBlock.js
Due: eslint

Update AcfBlockMediaText prop handling
  frontend/components/blocks/ACF/AcfBlockMediaText/AcfBlockMediaText.js
  frontend/functions/wordpress/blocks/displayBlock.js
Due: eslint

Organize displayBlock case statements
  frontend/functions/wordpress/blocks/displayBlock.js
Due: eslint

Remove teamMemberProfile from fragment
  frontend/lib/wordpress/teams/queryTeamById.js
Due: eslint

also lint docs
  .github/workflows/assertions.yml
Due: prettier

update to /backend
  .github/workflows/publish-plugins.yml
  .github/workflows/publish-theme.yml
Due: prettier

add linting config to root
  .eslintignore
  .eslintrc.js
  .stylelintignore
  .stylelintrc.js
Due: eslint

ignore /vendor
  .gitignore
Due: none

bump acf
  backend/plugins/wds-headless-acf/acf-json/group_601bfb9db9871.json
  backend/plugins/wds-headless-core/acf-json/group_600b6265f369a.json
Due: prettier

install linting packages. update scripts.
  package-lock.json
  package.json
Due: prettier

ignore .vercel
  .gitignore
Due: none

dependency bump
  frontend/package.json
Due: prettier

add readme that points to docs
  frontend/README.md
Due: prettier

add link to github discussions
  README.md
Due: prettier

fix lint script
  docs/package.json
Due: prettier

bump directory structure
  docs/docs/contributing.md
Due: prettier

remove theme function doc
  docs/docs/learn/wordpress-theme-functions.md
Due: prettier

Add extra check for NaN
  frontend/functions/formatFocalPoint.js
Due: eslint

Change return value to empty string
  frontend/functions/parseQuerystring.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
