Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=stylelint.config.js --fix

prettier:
  run: npx prettier  {staged_files} --config=prettier.config.js --write

bump next-sitemap to 1.6.157
  package-lock.json
  package.json
Due: prettier

remove storybook next router addon
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
Due: eslint, prettier

Fix proptypes
  components/atoms/Image/Image.js
  components/atoms/Image/Image.stories.mdx
Due: eslint

Flip img dimension order
  components/atoms/Image/Image.js
Due: eslint

Specify image block attributes
  components/blocks/Gutenberg/BlockImage/BlockImage.js
Due: eslint

Add Breadcrumb unit test
  components/atoms/Breadcrumbs/Breadcrumbs.js
  tests/jest/components/atoms/Breadcrumbs.test.js
Due: eslint

Export ButtonInner component
  components/atoms/Button/Button.js
  components/atoms/Button/index.js
Due: eslint

Add Button component Jest tests
  tests/jest/components/atoms/Button.test.js
Due: eslint

Add Code component Jest test
  tests/jest/components/atoms/Code.test.js
Due: eslint

Add Container Jest tests
  tests/jest/components/atoms/Container.test.js
Due: eslint

Add Heading component Jest tests
  tests/jest/components/atoms/Heading.test.js
Due: eslint

Export sizeToPx function
  components/atoms/Icon/Icon.js
  components/atoms/Icon/index.js
Due: eslint

Add Icon component Jest tests
  tests/jest/components/atoms/Icon.test.js
Due: eslint

Add Logo component Jest tests
  tests/jest/components/atoms/Logo.test.js
Due: eslint

Add PullQuote component Jest tests
  tests/jest/components/atoms/PullQuote.test.js
Due: eslint

Add Quote component Jest tests
  tests/jest/components/atoms/Quote.test.js
Due: eslint

Add RichText component Jest tests
  tests/jest/components/atoms/RichText.test.js
Due: eslint

Add Separator component Jest test
  tests/jest/components/atoms/Separator.test.js
Due: eslint

Remove debug
  tests/jest/components/atoms/Separator.test.js
Due: eslint

Add Spacer Jest test
  tests/jest/components/atoms/Spacer.test.js
Due: eslint

bump @apollo/client to 3.4.8
  package-lock.json
  package.json
Due: prettier

bump algoliasearch to 4.10.4
  package-lock.json
  package.json
Due: prettier

bump autoprefixer to 10.3.2
  package-lock.json
  package.json
Due: prettier

bump eslint-plugin-prettier to 3.4.1
  package-lock.json
  package.json
Due: prettier

bump markdownlint to 0.24.0
  package-lock.json
  package.json
Due: prettier

bump next-sitemap to 1.6.162
  package-lock.json
  package.json
Due: prettier

Correct function header doc
  components/atoms/Table/Table.js
Due: eslint

Add Table component Jest tests
  tests/jest/components/atoms/Table.test.js
Due: eslint

Add Alert component Jest tests
  tests/jest/components/molecules/Alert.test.js
Due: eslint

Check for full width inside cn
  components/atoms/Separator/Separator.js
Due: eslint

Add containerWidth css
  components/atoms/Separator/Separator.module.css
Due: stylelint

Add ButtonGroup component Jest tests
  tests/jest/components/molecules/ButtonGroup.test.js
Due: eslint

Add Card component Jest tests
  tests/jest/components/molecules/Card.test.js
Due: eslint

Export SingleComment component
  components/molecules/Comments/Comments.js
  components/molecules/Comments/index.js
Due: eslint

Add SingleComment component Jest tests
  tests/jest/components/molecules/Comments.test.js
Due: eslint

Fixing 500 error on GF Form Submission
  functions/next-api/wordpress/gravityForms/processGfFieldValues.js
Due: eslint

Add Comment form Jest tests
  tests/jest/components/molecules/Comments.test.js
Due: eslint

Add Form component Jest tests
  tests/jest/components/molecules/Form.test.js
Due: eslint

Add ImageGallery component Jest tests
  tests/jest/components/molecules/ImageGallery.test.js
Due: eslint

Add Checkbox component Jest tests
  tests/jest/components/atoms/Inputs/Checkbox.test.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
