Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint --config=.eslintrc.js --fix {staged_files}

stylelint:
  run: npx stylelint --config=stylelint.config.js --fix {staged_files}

prettier:
  run: npx prettier --config=prettier.config.js --write {staged_files}

remove ogImage alt and sizes
  components/common/Layout.js
Due: eslint

remove ogImage alt and sizes
  functions/formatDefaultSeoData.js
Due: eslint

remove alt and set image size to large
  api/wordpress/_partials/seoPostFields.js
Due: eslint

adjust ogImage code since there's only ever 1 image
  components/common/Layout.js
Due: eslint

add optional chaining
  components/common/Layout.js
Due: eslint

fix spelling
  components/common/Layout.js
Due: eslint

remove check alignment rule
  .eslintrc.js
Due: eslint

migrate to node 14 and npm 7
  .nvmrc
  package-lock.json
  package.json
  yarn.lock
Due: prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

check in codesandbox config
  sandbox.config.json
Due: prettier

add codesandbox button
  README.md
Due: prettier

attempt fix tailwind Node 14 issue
  package-lock.json
  package.json
Due: prettier

add clean command back in
  package.json
Due: prettier

bump storybook
  package-lock.json
  package.json
Due: prettier

bump apollo
  package-lock.json
  package.json
Due: prettier

bump eslint
  package-lock.json
  package.json
Due: prettier

bump plugin jsdoc
  package-lock.json
  package.json
Due: prettier

bump next-sitemap
  package-lock.json
  package.json
Due: prettier

remove engine
  package.json
Due: prettier

lock in autoprefixer, postcss, and postcss-flexbug-fixes
  package-lock.json
  package.json
Due: prettier

fix organize imports
  .vscode/settings.json
Due: prettier

import tailwind directly
  pages/_app.js
Due: eslint

remove tailwind directions (these are in _app.js) now
  styles/index.css
Due: stylelint

fix optional chaining
  components/common/Layout.js
Due: eslint

fix proptype
  components/molecules/Form/Form.js
Due: eslint

prettier formatting updates
  .github/dependabot.yml
  .github/workflows/chromatic.yml
Due: prettier

add return declaration
  components/atoms/VideoEmbed/VideoEmbed.js
Due: eslint

eslint fixes
  components/blocks/Gutenberg/BlockEmbed/BlockEmbed.js
Due: eslint

simplify env vars
  .env.sample
Due: none

simplify env variables
  .env.sample
  api/algolia/connector.js
  api/wordpress/connector.js
  functions/getEnvVar.js
Due: eslint

simplify profile acf fields
  api/wordpress/teams/queryTeamById.js
  api/wordpress/teams/queryTeamsArchive.js
  pages/team/[[...slug]].js
Due: eslint

update 404 to match updated acf settings and slug
  api/wordpress/pages/queryError404Page.js
  pages/404.js
Due: eslint

bump
  README.md
  sandbox.config.json
Due: prettier

bump
  README.md
Due: prettier

Scaffold basic login with GitHub
  package-lock.json
  package.json
  pages/api/auth/[...nextauth].js
  pages/login.js
Due: eslint, prettier

add wpe-build command
  package.json
Due: prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
