Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=stylelint.config.js --fix

prettier:
  run: npx prettier  {staged_files} --config=prettier.config.js --write

Add custom max-width setting for pullquote
  tailwind.config.js
Due: eslint

Add pullquote styles
  components/atoms/PullQuote/PullQuote.module.css
Due: stylelint

Add solid style to pullquote
  components/atoms/PullQuote/PullQuote.js
  components/blocks/Gutenberg/BlockPullQuote/BlockPullQuote.js
Due: eslint

Simplify props
  components/blocks/Gutenberg/BlockPullQuote/BlockPullQuote.js
Due: eslint

Handle style attr
  components/blocks/Gutenberg/BlockCode/BlockCode.js
Due: eslint

Display font size style
  components/atoms/Code/Code.js
Due: eslint

bump @arkweid/lefthook to v0.7.6
  package-lock.json
  package.json
Due: prettier

bump @testing-library/jest-dom to v.5.13.0
  package-lock.json
  package.json
Due: prettier

bump chromatic to v5.9.0
  package-lock.json
  package.json
Due: prettier

bump eslint to v7.28.0
  package-lock.json
  package.json
Due: prettier

bump eslint-plugin-jsdoc to v35.1.3
  package-lock.json
  package.json
Due: prettier

bump formik to v2.2.9
  package-lock.json
  package.json
Due: prettier

bump jest to v27.0.4
  package-lock.json
  package.json
Due: prettier

bump next-sitemap to v1.6.105
  package-lock.json
  package.json
Due: prettier

bump prettier to v2.3.1
  package-lock.json
  package.json
Due: prettier

bump tailwindcss to v2.1.4
  package-lock.json
  package.json
Due: prettier

bump next-auth to v3.25.0
  package-lock.json
  package.json
Due: prettier

bump @storybook (and addons) to v6.3.0-beta.15
  package-lock.json
  package.json
Due: prettier

Add color props to code block
  components/blocks/Gutenberg/BlockCode/BlockCode.js
Due: eslint

Handle custom color styling
  components/atoms/Code/Code.js
Due: eslint

add markdownlint support
  .markdownlint.json
  .markdownlintignore
  package-lock.json
Due: prettier

rename config files with dot syntax
  .prettierrc.js
  .stylelintrc.js
Due: eslint

check in stylelintignore
  .stylelintignore
Due: none

normalize linting scripts
  .github/workflows/assertions.yml
  lefthook.yml
  package.json
Due: prettier

bulk formatting fixes
  CONTRIBUTING.md
  README.md
  components/organisms/Header/Header.js
Due: eslint, prettier

formatting fixes
  CONTRIBUTING.md
Due: prettier

add trailing slashes
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

bump @storybook to vbeta.17
  package-lock.json
  package.json
Due: prettier

set indent to 2
  .markdownlint.json
Due: prettier

add github.token
  .github/workflows/assertions.yml
Due: prettier

bump vscode addon recommendations
  .vscode/extensions.json
Due: prettier

Organize props
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
Due: eslint

Handle color props in media text block
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
Due: eslint

Handle style in mediatext
  components/organisms/MediaText/MediaText.js
Due: eslint

Remove bottom margin
  components/organisms/MediaText/MediaText.module.css
Due: stylelint

Fix spacing/padding
  components/organisms/MediaText/MediaText.module.css
Due: stylelint

Remove rounded corners
  components/organisms/MediaText/MediaText.module.css
Due: stylelint

Pass media width from block
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
Due: eslint

Change margin to padding
  components/organisms/MediaText/MediaText.module.css
Due: stylelint

Set media & text width
  components/organisms/MediaText/MediaText.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
