Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=stylelint.config.js --fix

prettier:
  run: npx prettier  {staged_files} --config=prettier.config.js --write

Update TGM requirements for plugins
  plugins/wds-headless-acf/inc/tgm/tgm.php
  plugins/wds-headless-algolia/inc/tgm/tgm.php
  plugins/wds-headless-blocks/inc/tgm/tgm.php
  plugins/wds-headless-gravityforms/inc/tgm/tgm.php
  plugins/wds-headless-seo/inc/tgm/tgm.php
Due: none

refactor
  .github/workflows/publish-plugins.yml
Due: prettier

only on main
  .github/workflows/storybook.yml
Due: prettier

releases only
  .github/workflows/publish-npm.yml
Due: prettier

main develop only
  .github/workflows/assertions.yml
Due: prettier

use dist
  .github/workflows/publish-plugins.yml
Due: prettier

rsync plugins/dist
  .github/workflows/publish-plugins.yml
Due: prettier

update cache. split up commands
  .github/workflows/publish-plugins.yml
Due: prettier

try sending just the plugin zip
  .github/workflows/publish-plugins.yml
Due: prettier

remove ./
  .github/workflows/publish-plugins.yml
Due: prettier

add .zip
  .github/workflows/publish-plugins.yml
Due: prettier

up two levels
  .github/workflows/publish-plugins.yml
Due: prettier

test_build_publish
  .github/workflows/publish-npm.yml
  .github/workflows/publish-plugins.yml
Due: prettier

rename to deploy
  .github/workflows/deploy-npm.yml
  .github/workflows/deploy-plugins.yml
Due: prettier

general refactors
  .github/workflows/deploy-npm.yml
  .github/workflows/publish-npm.yml
  .github/workflows/publish-plugins.yml
  .github/workflows/publish-storybook.yml
Due: prettier

Add AcfMediaText.test.js component Jest test
  tests/jest/components/organism/AcfMediaText.test.js
Due: eslint

Add Footer component Jest tests
  tests/jest/components/organism/Footer.test.js
Due: eslint

Add lib alias
  jest.config.js
Due: eslint

update config with repo info
  docs/docusaurus.config.js
Due: eslint

Add Header component Jest tests
  tests/jest/components/organism/Header.test.js
Due: eslint

fix broken links
  docs/docs/backend/index.md
  docs/docs/index.md
  docs/src/pages/index.md
Due: prettier

add babel config
  docs/babel.config.js
Due: eslint

update permalink structure
  docs/docs/backend/algolia.md
  docs/docs/backend/gravity-forms.md
  docs/docs/backend/index.md
  docs/docs/backend/wp-config.md
  docs/docs/frontend/coding-standards.md
  docs/docs/frontend/components-overview.md
  docs/docs/frontend/env-variables.md
  docs/docs/frontend/folder-structure.md
  docs/docs/frontend/index.md
  docs/docs/frontend/menus.md
  docs/docs/frontend/previews.md
  docs/docs/index.md
  docs/docs/learn/comments.md
  docs/docs/learn/wordpress-theme.md
  docs/docusaurus.config.js
  docs/src/pages/index.md
Due: eslint, prettier

remove pipe. rename to Install.
  .github/workflows/publish-docs.yml
Due: prettier

bump
  .vscode/snipsnap.code-snippets
Due: none

rename to Docs
  docs/docusaurus.config.js
Due: eslint

add docusaurus doc
  docs/docs/other/docusaurus.md
Due: prettier

Update plugin links to new zip files
  plugins/wds-headless-acf/inc/tgm/tgm.php
  plugins/wds-headless-algolia/inc/tgm/tgm.php
  plugins/wds-headless-blocks/inc/tgm/tgm.php
  plugins/wds-headless-gravityforms/inc/tgm/tgm.php
  plugins/wds-headless-seo/inc/tgm/tgm.php
Due: none

add theme directory
  theme/.gitkeep
Due: none

make it more clear
  docs/docs/other/docusaurus.md
Due: prettier

mention vs code
  docs/docs/other/recommended-extensions.md
Due: prettier

add publish theme action
  .github/workflows/publish-theme.yml
Due: prettier

formatting
  theme/wds-headless/acf-json/group_5ff605fe69e7d.json
  theme/wds-headless/theme.json
Due: prettier

Add headless plugins links
  theme/wds-headless-theme/inc/tgm/tgm.php
Due: none

remove acf-json
  theme/wds-headless-theme/acf-json/group_5ff605fe69e7d.json
  theme/wds-headless-theme/acf-json/index.php
Due: prettier

Add composer.json
  composer.json
Due: prettier

Update version
  theme/wds-headless-theme/acf-json/index.php
  theme/wds-headless-theme/inc/tgm/tgm.php
  theme/wds-headless-theme/index.php
  theme/wds-headless-theme/style.css
Due: stylelint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
