Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint {staged_files} --config=stylelint.config.js --fix
    prettier:
      glob: '*.{md,html,json,yml}'
      run: npx prettier  {staged_files} --config=prettier.config.js --write

Abstract focal point handling to fn
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
  functions/formatFocalPoint.js
Due: eslint

Abstract filter style to const
  components/organisms/Hero/Hero.js
Due: eslint

Add focal point handling
  components/blocks/Gutenberg/BlockCover/BlockCover.js
  components/organisms/Hero/Hero.js
  components/organisms/Hero/Hero.module.css
Due: eslint, stylelint

Add parallax handling
  components/blocks/Gutenberg/BlockCover/BlockCover.js
  components/organisms/Hero/Hero.js
  components/organisms/Hero/Hero.module.css
Due: eslint, stylelint

Fix content z-index
  components/blocks/Gutenberg/BlockCover/BlockCover.js
Due: eslint

Add repeat handling
  components/blocks/Gutenberg/BlockCover/BlockCover.js
  components/organisms/Hero/Hero.js
  components/organisms/Hero/Hero.module.css
Due: eslint, stylelint

Remove eslint-disable
  components/blocks/Gutenberg/BlockCover/BlockCover.js
Due: eslint

dependency bump
  package-lock.json
  package.json
Due: prettier

Fix broken image gallery images
  components/molecules/ImageGallery/ImageGallery.js
Due: eslint

Change organisms components meta title to Organisms
  components/organisms/AcfMediaText/AcfMediaText.stories.mdx
  components/organisms/Archive/Archive.stories.mdx
  components/organisms/Footer/Footer.stories.mdx
  components/organisms/Header/Header.stories.mdx
  components/organisms/Hero/Hero.stories.mdx
  components/organisms/LzbMediaText/LzbMediaText.stories.mdx
  components/organisms/MediaText/MediaText.stories.mdx
Due: none

bump next.js and @next/bundle-analyzer to 11.0.0
  package-lock.json
  package.json
Due: prettier

add eslint-config-next
  package-lock.json
  package.json
Due: prettier

remove duplicate dependencies. bump other deps.
  package-lock.json
  package.json
Due: prettier

remove future setting. webpack 5 is now default.
  next.config.js
Due: eslint

use `next lint` for JS
  package.json
Due: prettier

initial commit of working `.eslintrc.js` file
  .eslintrc.js
Due: eslint

temp. disable eslint
  components/atoms/Image/Image.js
  pages/api/auth/[...nextauth].js
Due: eslint

use <Link />
  pages/_app.js
Due: eslint

remove implicate config flags
  lefthook.yml
  package.json
Due: prettier

use npm 7. remove implicate config flags
  .github/workflows/assertions.yml
Due: prettier

Retrieve first 100 menu items instead of 10
  lib/wordpress/_query-partials/allMenus.js
Due: eslint

remove chromatic
  README.md
  package-lock.json
  package.json
Due: prettier

check in storybook workflow
  .github/workflows/storybook.yml
Due: prettier

Organize props
  components/blocks/Gutenberg/BlockHeadings/BlockHeadings.js
Due: eslint

Add colors
  components/blocks/Gutenberg/BlockHeadings/BlockHeadings.js
Due: eslint

Fix alignment handling
  components/blocks/Gutenberg/BlockHeadings/BlockHeadings.js
Due: eslint

Add font weight handling
  functions/wordpress/blocks/getBlockStyles.js
Due: eslint

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier

bump snipsnap
  .vscode/snipsnap.code-snippets
Due: none

bump lockfile
  package-lock.json
Due: prettier

bump @apollo/client to 3.3.21
  package-lock.json
  package.json
Due: prettier

bump @storybook and addons to 6.3.3
  package-lock.json
  package.json
Due: prettier

bump algoliasearch to 4.10.3
  package-lock.json
  package.json
Due: prettier

bump dayjs to 1.10.6
  package-lock.json
  package.json
Due: prettier

bump eslint to 7.30.0
  package-lock.json
  package.json
Due: prettier

bump next-sitemap to 1.6.133
  package-lock.json
  package.json
Due: prettier

bump react-instantsearch-dom to 6.12.0
  package-lock.json
  package.json
Due: prettier

bump next-auth to 3.27.2
  package-lock.json
  package.json
Due: prettier

bump next-auth to 3.27.3
  package-lock.json
  package.json
Due: prettier
