Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint --config=.eslintrc.js --fix {staged_files}

stylelint:
  run: npx stylelint --config=stylelint.config.js --fix {staged_files}

prettier:
  run: npx prettier --config=prettier.config.js --write {staged_files}

Use simplified form ID, fix form response handling
  functions/wordpress/gravityForms/getGfFormById.js
Due: eslint

Fix field switch
  functions/next-api/wordpress/gravityForms/processGfFieldValues.js
Due: eslint

Convert checkbox ids to float
  functions/next-api/wordpress/gravityForms/processGfFieldValues.js
Due: eslint

Remove extraneous file
  pages/api/wordpress/getWPUrl.js
Due: eslint

Add font size support to gutenberg paragraph
  components/atoms/RichText/RichText.js
  components/blocks/Gutenberg/BlockParagraph/BlockParagraph.js
Due: eslint

Adds Description Prop to Gravity Form Component
  components/molecules/GravityForm/GravityForm.js
Due: eslint

Package lock json
  package-lock.json
Due: prettier

Fix doc block spacing
  components/atoms/RichText/RichText.js
  components/blocks/Gutenberg/BlockParagraph/BlockParagraph.js
Due: eslint

Get the wp menus in layout instead of footer
  components/common/Layout.js
  components/organisms/Footer/Footer.js
Due: eslint

Add footer story
  components/organisms/Footer/Footer.stories.mdx
Due: none

Fix style props in richtext
  components/atoms/RichText/RichText.js
Due: eslint

Pull in custom and preset colors for paragraph block
  components/blocks/Gutenberg/BlockParagraph/BlockParagraph.js
Due: eslint

Add footer menu array to story
  components/organisms/Footer/Footer.stories.mdx
Due: none

Fix errors with core media text block's image
  components/organisms/MediaText/MediaText.js
Due: eslint

Add social links to footer story
  components/organisms/Footer/Footer.stories.mdx
Due: none

Clean up footer social
  components/organisms/Footer/Footer.js
Due: eslint

Pull out Algolia from header to layout component
  components/common/Layout.js
  components/molecules/Navigation/Navigation.js
  components/organisms/Header/Header.js
  components/organisms/Header/Header.module.css
Due: eslint, stylelint

Add header story
  components/organisms/Header/Header.stories.mdx
Due: none

Install react-native 16.13.1
  package-lock.json
  package.json
Due: prettier

bump storybook essentials to 6.2.9
  package-lock.json
  package.json
Due: prettier

bump next-auth to 3.19.3
  package-lock.json
  package.json
Due: prettier

bump babel core to 7.14.0
  package-lock.json
  package.json
Due: prettier

bump next bundle analyzer to 10.2.0
  package-lock.json
  package.json
Due: prettier

bump algolia to 4.9.1
  package-lock.json
  package.json
Due: prettier

bump chromatic to 5.8.0
  package-lock.json
  package.json
Due: prettier

bump eslint prettier to 8.3.0
  package-lock.json
  package.json
Due: prettier

bump eslint jsdoc to 33.0.0
  package-lock.json
  package.json
Due: prettier

bump stylelint config to 22.0.0
  package-lock.json
  package.json
Due: prettier

bump tailwind to 2.1.2
  package-lock.json
  package.json
Due: prettier

Init expo screens
  App.js
  metro.config.js
  mobile/ContentView.js
  mobile/HomeScreen.js
  mobile/blog/BlogHome.js
  mobile/blog/BlogScreen.js
  mobile/blog/BlogStack.js
  mobile/team/TeamHome.js
  mobile/team/TeamScreen.js
  mobile/team/TeamStack.js
Due: eslint

Init expo
  App.js
  lib/wordpress/connector.js
  metro.config.js
  mobile/ContentView.js
  mobile/blog/BlogHome.js
  mobile/blog/BlogScreen.js
  mobile/env.js
  mobile/team/TeamHome.js
  package-lock.json
  package.json
Due: eslint, prettier

Remove lefthook
  package-lock.json
  package.json
Due: prettier

Handle empty post excerpt
  mobile/blog/BlogHome.js
Due: eslint

Remove console log
  mobile/team/TeamHome.js
Due: eslint

Update README for with-expo
  README.md
Due: prettier

bump next-auth to 3.19.6
  package-lock.json
  package.json
Due: prettier

bump lefthook to 0.7.4
  package-lock.json
  package.json
Due: prettier

bump apollo/client to 3.3.16
  package-lock.json
  package.json
Due: prettier

bump next-sitemap to 1.6.34
  package-lock.json
  package.json
Due: prettier

bump stylelint to 13.13.1
  package-lock.json
  package.json
Due: prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
