Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint --config=.eslintrc.js --fix {staged_files}
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint --config=stylelint.config.js --fix {staged_files}
    prettier:
      glob: '*.{md,html,json,yml}'
      run: npx prettier --config=prettier.config.js --write {staged_files}

Remove resolvers from apollo client
  lib/next-api/connector.js
Due: eslint

Make fieldValues optional, include bodySerializer fn
  lib/next-api/wordpress/gravityForms/mutationSubmitForm.js
Due: eslint

Create multipart form parser middleware
  functions/middleware/gfMultipartFormParser.js
Due: eslint

Remove graphql-upload package
  package.json
Due: prettier

Add next-connect, apollo-upload-client, formidable packages
  package-lock.json
  package.json
Due: prettier

Update GF handler to use middlware & next-connect
  pages/api/wordpress/gravityForms.js
Due: eslint

Fix middleware progression
  functions/middleware/gfMultipartFormParser.js
Due: eslint

Convert File to standard object
  functions/wordpress/gravityForms/insertGfFormEntry.js
Due: eslint

Remove apollo-upload-client
  package-lock.json
  package.json
Due: prettier

bump @apollo/client to 3.3.19
  package-lock.json
  package.json
Due: prettier

bump @babel/core to 7.14.3
  package-lock.json
  package.json
Due: prettier

bump @next/bundle-analyzer to 10.2.1
  package-lock.json
  package.json
Due: prettier

bump chromatic to 5.8.2
  package-lock.json
  package.json
Due: prettier

bump eslint-plugin-import to 2.23.2
  package-lock.json
  package.json
Due: prettier

bump eslint-plugin-jsdoc to 34.6.3
  package-lock.json
  package.json
Due: prettier

bump formik to 2.2.7
  package-lock.json
  package.json
Due: prettier

bump postcss to 8.2.15
  package-lock.json
  package.json
Due: prettier

bump next-auth to 3.23.1
  package-lock.json
  package.json
Due: prettier

bump storybook (and addons) to alpha.34
  package-lock.json
  package.json
Due: prettier

bump @next/bundle-analyzer to 10.2.2
  package-lock.json
  package.json
Due: prettier

bump next to 10.2.2
  package-lock.json
  package.json
Due: prettier

Remove extra check
  functions/middleware/gfMultipartFormParser.js
Due: eslint

bump @storybook to alpha 36
  package-lock.json
  package.json
Due: prettier

bump chromatic to 5.8.3
  package-lock.json
  package.json
Due: prettier

bump eslint to 7.27.0
  package-lock.json
  package.json
Due: prettier

bump eslint-plugin-import to 2.23.3
  package-lock.json
  package.json
Due: prettier

bump eslint-plugin-jsdoc to 35.0.0
  package-lock.json
  package.json
Due: prettier

bump formik to 2.2.8
  package-lock.json
  package.json
Due: prettier

bump postcss to 8.3.0
  package-lock.json
  package.json
Due: prettier

bump next-auth to 3.23.3
  package-lock.json
  package.json
Due: prettier

use `npm ci` command
  .github/workflows/assertions.yml
Due: prettier

fix eslint glob. adjust stylelint glob to include .scss
  package.json
Due: prettier

adjust lefthook {staged_files} param
  lefthook.yml
Due: prettier

bulk eslint/prettier formatting after glob change
  components/atoms/Icon/icons.js
  functions/next-api/wordpress/gravityForms/processGfFieldValues.js
  lib/apolloConfig.js
  lib/next-api/connector.js
  lib/wordpress/connector.js
  lib/wordpress/gravityForms/mutationInsertFormEntry.js
Due: eslint

remove chromatic job
  .github/workflows/chromatic.yml
Due: prettier

fix glob. remove extra flags.
  .github/workflows/assertions.yml
Due: prettier

Extract nav menu display to separate component
  components/molecules/Navigation/Navigation.js
Due: eslint

Add class to menu items with children
  components/molecules/Navigation/Navigation.js
Due: eslint

Remove duplicate check
  components/molecules/Navigation/Navigation.js
Due: eslint

Fix 3-column display
  components/molecules/ImageGallery/ImageGallery.module.css
Due: stylelint
