Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint --config=.eslintrc.js --fix {staged_files}

stylelint:
  run: npx stylelint --config=stylelint.config.js --fix {staged_files}

prettier:
  run: npx prettier --config=prettier.config.js --write {staged_files}

add in the rest of the props
  components/atoms/Image/Image.js
Due: eslint

update story
  components/atoms/Image/Image.stories.mdx
Due: none

refactor into smaller components
  components/atoms/Image/Image.js
Due: eslint

Logs
  pages/register.js
Due: eslint

Show logs
  pages/register.js
Due: eslint

update branches
  .github/CONTRIBUTING.md
Due: prettier

move octocat
  README.md
Due: prettier

Make WORDPRESS_URL env var public
  .env.sample
Due: none

Add basic login
  api/frontend/wp/user/loginUser.js
  api/frontend/wp/user/mutationLoginUser.js
  api/wordpress/connector.js
  pages/_app.js
  pages/api/auth/[...nextauth].js
  pages/login.js
Due: eslint

Add basic registration
  api/frontend/wp/user/mutationRegisterUser.js
  api/frontend/wp/user/registerUser.js
  pages/register.js
Due: eslint

Add basic profile page
  pages/profile/index.js
Due: eslint

Add nexjs-auth
  package-lock.json
  package.json
Due: prettier

Remove debug comment
  pages/register.js
Due: eslint

Debug NextAuth JS
  pages/_app.js
  pages/api/auth/[...nextauth].js
Due: eslint

Reinsert session prop
  pages/_app.js
  pages/api/auth/[...nextauth].js
Due: eslint

Reinsert session prop
  pages/_app.js
Due: eslint

dependency bump
  package-lock.json
  package.json
Due: prettier

remove /wpapi
  jsconfig.json
Due: prettier

update imports to point at /lib
  components/molecules/AlgoliaResults/AlgoliaResults.js
  components/molecules/AlgoliaSearch/components/Search.js
  components/molecules/Comments/Comments.js
  functions/formatBlockData.js
  functions/getPagePropTypes.js
  pages/404.js
  pages/[...slug].js
  pages/_app.js
  pages/api/preview.js
  pages/api/wp/archive.js
  pages/api/wp/getWPUrl.js
  pages/api/wp/postComment.js
  pages/blog/[[...slug]].js
  pages/index.js
  pages/search.js
  pages/team/[[...slug]].js
Due: eslint

Move user apis to lib
  lib/frontend/wp/user/loginUser.js
  lib/frontend/wp/user/mutationLoginUser.js
  lib/frontend/wp/user/mutationRegisterUser.js
  lib/frontend/wp/user/registerUser.js
Due: eslint

bump
  package-lock.json
Due: prettier

move /docs to /documentation
  components/documentation/DocTable/DocTable.js
  components/documentation/DocTable/DocTable.module.css
  components/documentation/DocTable/index.js
  components/documentation/Field.stories.mdx
  components/documentation/Icons.stories.mdx
  components/documentation/README.md
Due: eslint, stylelint, prettier

update stories import
  .storybook/main.js
Due: eslint

include demo css
  .storybook/preview.js
Due: eslint

update prod url
  .storybook/theme.js
Due: eslint

specify font-sans
  styles/demo.css
Due: stylelint

update <Code /> block
  components/atoms/Code/Code.js
  components/atoms/Code/Code.stories.mdx
Due: eslint

remove algolia search story
  components/molecules/AlgoliaSearch/AlgoliaSearch.stories.mdx
Due: none

update card story
  components/molecules/Card/Card.stories.mdx
Due: none

move fields doc to /documentation
  components/molecules/GravityForm/Fields/Field.stories.mdx
Due: none

Refactoring Context to export/import useContext hook.
  components/common/WordPressProvider.js
  components/molecules/AlgoliaResults/AlgoliaResults.js
  components/molecules/AlgoliaSearch/AlgoliaSearch.js
  components/organisms/Footer/Footer.js
  components/organisms/Header/Header.js
Due: eslint

initial commit
  components/blocks/YoastSEO/EstimatedReadingTime/EstimatedReadingTime.js
  components/blocks/YoastSEO/EstimatedReadingTime/EstimatedReadingTime.module.css
  components/blocks/YoastSEO/EstimatedReadingTime/EstimatedReadingTime.stories.mdx
  components/blocks/YoastSEO/EstimatedReadingTime/index.js
  components/blocks/index.js
  functions/displayBlock.js
Due: eslint, stylelint

finished component
  components/blocks/YoastSEO/EstimatedReadingTime/EstimatedReadingTime.js
  components/blocks/YoastSEO/EstimatedReadingTime/EstimatedReadingTime.module.css
  components/blocks/YoastSEO/EstimatedReadingTime/EstimatedReadingTime.stories.mdx
Due: eslint, stylelint

Display different form depending on user auth state
  components/molecules/Comments/Comments.js
Due: eslint

Handle refreshing auth token when previous auth token was expired
  lib/frontend/wp/user/mutationLoginUser.js
  lib/frontend/wp/user/mutationRefreshAuthToken.js
  lib/frontend/wp/user/refreshAuthToken.js
  pages/api/auth/[...nextauth].js
Due: eslint

Send a comment mutation with the correct user auth token
  components/molecules/Comments/Comments.js
  lib/wordpress/comments/commentToPost.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
