Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint --config=.eslintrc.js --fix {staged_files}

stylelint:
  run: npx stylelint --config=stylelint.config.js --fix {staged_files}

prettier:
  run: npx prettier --config=prettier.config.js --write {staged_files}

Rename useApollo to useWpApollo and move it to connector.js
  lib/apolloConfig.js
  lib/wordpress/connector.js
  pages/_app.js
Due: eslint

Re-run npm install
  package-lock.json
Due: prettier

Remove comment
  lib/wordpress/connector.js
Due: eslint

Add file upload fields back
  components/molecules/GravityForm/Fields/Fields.js
Due: eslint

Install graphql upload package
  package-lock.json
  package.json
Due: prettier

Move value check, add file upload case
  functions/next-api/wordpress/gravityForms/processGfFieldValues.js
Due: eslint

Add graphql schema for FieldValuesInput
  lib/next-api/wordpress/_config/schema.js
Due: eslint

Add schema to next api apollo client config
  lib/next-api/connector.js
Due: eslint

Add upload resolver
  lib/next-api/wordpress/_config/resolvers.js
Due: eslint

Add upload scalar def
  lib/next-api/wordpress/_config/schema.js
Due: eslint

Add resolvers to schema
  lib/next-api/wordpress/_config/resolvers.js
  lib/next-api/wordpress/_config/schema.js
Due: eslint

Add resolvers to next api apollo client
  lib/next-api/connector.js
Due: eslint

Display error messages
  pages/api/auth/[...nextauth].js
  pages/login.js
  pages/register.js
Due: eslint

Update package-lock
  package-lock.json
Due: prettier

bump next-auth to 3.21.0
  package-lock.json
  package.json
Due: prettier

bump eslint to 7.26.0
  package-lock.json
  package.json
Due: prettier

bump eslint-plugin-jsdoc to 33.1.1
  package-lock.json
  package.json
Due: prettier

bump hamburger-react to 2.4.1
  package-lock.json
  package.json
Due: prettier

bump next-sitemap to 1.6.57
  package-lock.json
  package.json
Due: prettier

bump prettier to 2.3.0
  package-lock.json
  package.json
Due: prettier

bump react-instantsearch-dom to 6.11.0
  package-lock.json
  package.json
Due: prettier

bump storybook-css-modules-preset to 1.1.1
  package-lock.json
  package.json
Due: prettier

bump postcss to 8.2.14. bump auto-prefixer to 10.2.5
  package-lock.json
  package.json
Due: prettier

enable webpack 5 support
  next.config.js
  public/sitemap.xml
Due: eslint

run `npx sb@next upgrade --prerelease`
  package-lock.json
  package.json
Due: prettier

enable webpack 5. disable webpack 4 options.
  .storybook/main.js
Due: eslint

add chromatic script
  package.json
Due: prettier

add storybook-static/*
  .gitignore
Due: none

bump chromatic action
  .github/workflows/chromatic.yml
Due: prettier

remove extra flags
  .github/workflows/assertions.yml
Due: prettier

Update eslint-plugin-jsdoc to v33.3.0
  package-lock.json
  package.json
Due: prettier

Add jsdoc check-line-alignment config
  .eslintrc.js
Due: eslint

Fix jsdoc type
  components/atoms/Image/Image.js
Due: eslint

Bump next-auth to v3.21.1
  package-lock.json
  package.json
Due: prettier

Display proper login error messages
  pages/api/auth/[...nextauth].js
Due: eslint

Run prettier
  pages/api/auth/[...nextauth].js
Due: eslint

Manually create Upload type
  lib/next-api/wordpress/_config/schema.js
Due: eslint

Add fn to encode GF form data
  functions/wordpress/gravityForms/encodeGfFormData.js
Due: eslint

Include encoding fn in next api rest link
  lib/next-api/connector.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
