Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint {staged_files} --config=stylelint.config.js --fix
    prettier:
      glob: '*.{md,html,json,yml}'
      run: npx prettier  {staged_files} --config=prettier.config.js --write

Add gradient overlay handling
  components/blocks/Gutenberg/BlockCover/BlockCover.js
  components/organisms/Hero/Hero.js
Due: eslint

Don't distort image on fill
  components/atoms/Image/Image.js
  components/atoms/Image/Image.module.css
Due: eslint, stylelint

Fix border-radius
  components/atoms/Image/Image.module.css
  components/organisms/Hero/Hero.module.css
Due: stylelint

Ensure child elements display over background image
  components/organisms/Hero/Hero.js
  components/organisms/Hero/Hero.module.css
Due: eslint, stylelint

Add function to convert Hex to RGB
  functions/convertHextoRgb.js
Due: eslint

Add function to extract numeric RGB values from string
  functions/extractRgbValues.js
Due: eslint

Simplify overlay handling
  components/blocks/Gutenberg/BlockCover/BlockCover.js
  components/organisms/Hero/Hero.js
Due: eslint

Add SO link
  functions/extractRgbValues.js
Due: eslint

bump @apollo/client to 3.3.20
  package-lock.json
  package.json
Due: prettier

bump @babel/core to 7.14.5
  package-lock.json
  package.json
Due: prettier

bump @testing-library/jest-dom to 5.14.1
  package-lock.json
  package.json
Due: prettier

bump algoliasearch to 4.9.2
  package-lock.json
  package.json
Due: prettier

bump chromatic to 5.9.1
  package-lock.json
  package.json
Due: prettier

bump eslint-plugin-jsdoc to 35.2.0
  package-lock.json
  package.json
Due: prettier

bump next-sitemap to 1.6.111
  package-lock.json
  package.json
Due: prettier

bump postcss to 8.3.3
  package-lock.json
  package.json
Due: prettier

bump react-instantsearch-dom to 6.11.1
  package-lock.json
  package.json
Due: prettier

bump next-auth to 3.26.1
  package-lock.json
  package.json
Due: prettier

bump @storybook (and addons) to 6.3.0-rc.5
  package-lock.json
  package.json
Due: prettier

Add relative class to innerblocks
  components/blocks/Gutenberg/BlockCover/BlockCover.js
Due: eslint

Always pass image url
  components/blocks/Gutenberg/BlockCover/BlockCover.js
Due: eslint

Pass duotone array
  components/blocks/Gutenberg/BlockCover/BlockCover.js
Due: eslint

Fix overlay display
  components/organisms/Hero/Hero.module.css
Due: stylelint

Create, display duotone filter component
  components/organisms/Hero/Hero.js
Due: eslint

Add image for filter, remove custom children handling
  components/organisms/Hero/Hero.js
Due: eslint

Add filter styles
  components/organisms/Hero/Hero.module.css
Due: stylelint

Remove additional tint
  components/organisms/Hero/Hero.js
Due: eslint

Hide filter
  components/organisms/Hero/Hero.module.css
Due: stylelint

Display plain image to allow for filter
  components/organisms/Hero/Hero.js
  components/organisms/Hero/Hero.module.css
Due: eslint, stylelint

Reset z-index if only overlay, no image
  components/organisms/Hero/Hero.js
  components/organisms/Hero/Hero.module.css
Due: eslint, stylelint

Set default text color to white
  components/organisms/Hero/Hero.module.css
Due: stylelint

Add align handling
  components/blocks/Gutenberg/BlockCover/BlockCover.js
  components/organisms/Hero/Hero.js
  components/organisms/Hero/Hero.module.css
Due: eslint, stylelint

Change to flex to allow text alignment
  components/organisms/Hero/Hero.module.css
Due: stylelint

Don't output empty heading tag
  components/organisms/Hero/Hero.js
Due: eslint

Use min-height instead of padding
  components/organisms/Hero/Hero.module.css
Due: stylelint

Add content align top/bottom handling
  components/blocks/Gutenberg/BlockCover/BlockCover.js
  components/organisms/Hero/Hero.js
  components/organisms/Hero/Hero.module.css
Due: eslint, stylelint

Reset x-axis padding
  components/organisms/Hero/Hero.module.css
Due: stylelint

Add horizontal content alignment
  components/organisms/Hero/Hero.js
  components/organisms/Hero/Hero.module.css
Due: eslint, stylelint

Add full height support
  components/blocks/Gutenberg/BlockCover/BlockCover.js
  components/organisms/Hero/Hero.js
  components/organisms/Hero/Hero.module.css
Due: eslint, stylelint

Add custom min-height
  components/blocks/Gutenberg/BlockCover/BlockCover.js
Due: eslint
