Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=stylelint.config.js --fix

prettier:
  run: npx prettier  {staged_files} --config=prettier.config.js --write

Skip alpha value
  frontend/functions/extractRgbValues.js
Due: eslint

remove premium plugins
  backend/composer.json
Due: prettier

delete lockfile
  backend/composer.lock
Due: none

docs update
  docs/docs/backend/index.md
  docs/docs/learn/wp-graphql.md
  docs/src/css/custom.css
  docs/static/img/screenshot-local-by-flywheel.png
Due: stylelint, prettier

update publish plugin workflow
  .github/workflows/publish-plugins.yml
Due: prettier

update publish theme workflow
  .github/workflows/publish-theme.yml
Due: prettier

remove tgm require
  backend/plugins/wds-headless-blocks/wds-headless-blocks.php
Due: none

remove tgm
  backend/themes/wds-headless-theme/functions.php
  backend/themes/wds-headless-theme/inc/tgm/class-tgm-plugin-activation.php
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-cs_CZ.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-cs_CZ.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-de_DE.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-de_DE.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-en_AU.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-en_AU.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-en_CA.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-en_CA.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-en_GB.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-en_GB.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-eo.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-eo.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-es_ES.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-es_ES.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-fr_FR.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-fr_FR.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-he_IL.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-he_IL.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-hr_HR.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-hr_HR.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-it_IT.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-it_IT.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-nl_NL.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-nl_NL.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-pt_BR.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-pt_BR.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-ro_RO.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-ro_RO.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-ru_RU.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-ru_RU.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-sr_RS.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-sr_RS.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-sv_SE.mo
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa-sv_SE.po
  backend/themes/wds-headless-theme/inc/tgm/languages/tgmpa.pot
  backend/themes/wds-headless-theme/inc/tgm/tgm.php
Due: none

more backend setup doc updates
  docs/docs/backend/index.md
  docs/static/img/screenshot-set-404-page-2.png
  docs/static/img/screenshot-set-menus.png
Due: prettier

update composer file URL
  docs/docs/backend/algolia.md
  docs/docs/backend/gravity-forms.md
Due: prettier

frontend setup updates
  docs/docs/frontend/index.md
  docs/static/img/screenshot-frontend.png
Due: prettier

dependency bump
  frontend/package-lock.json
  frontend/package.json
Due: prettier

fix typo
  docs/docs/index.md
Due: prettier

update dirs
  .github/dependabot.yml
Due: prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

dependency bump
  docs/package-lock.json
  docs/package.json
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: prettier

bump prettier
  package-lock.json
Due: prettier

use npm i
  .github/workflows/assertions.yml
Due: prettier

combine into a single file
  .github/workflows/publish-docs.yml
  .github/workflows/publish-plugins.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/publish-theme.yml
  .github/workflows/publish.yml
Due: prettier

deploy develop branch to wpe dev
  .github/workflows/deploy.yml
Due: prettier

fix storybook publish
  .github/workflows/publish.yml
Due: prettier

remove deploy.yml
  .github/workflows/deploy.yml
Due: prettier

remove install
  .github/workflows/publish.yml
Due: prettier

point at nextjsdev
  backend/composer.json
Due: prettier

point at dev
  .github/workflows/publish.yml
Due: prettier

rsync storybook to dev
  .github/workflows/publish.yml
Due: prettier

point at dev
  .github/workflows/publish.yml
  docs/docs/backend/algolia.md
  docs/docs/backend/gravity-forms.md
Due: prettier

move storybook up a dir
  .github/workflows/publish.yml
Due: prettier

rename to storybook
  .github/workflows/publish.yml
Due: prettier

publish storybook to wpe
  .github/workflows/publish.yml
Due: prettier

remove old script
  frontend/package.json
Due: prettier

phpcs fix
  backend/themes/wds-headless-theme/functions.php
Due: none

enable phpcs linting
  .github/workflows/assertions.yml
  .phpcs.xml
  composer.json
  composer.lock
  package.json
Due: prettier

fix indent
  .github/workflows/assertions.yml
Due: prettier

add php version
  .github/workflows/assertions.yml
Due: prettier

adjust run order
  .github/workflows/assertions.yml
Due: prettier

enable lighthouse tests
  .github/workflows/lighthouse.yml
  .lighthouserc.js
Due: eslint, prettier

add ignore gh-pages script
  scripts/ignore-gh-pages.sh
Due: none

remove script from canary
  scripts/ignore-gh-pages.sh
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
