Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --config=.eslintrc.js --fix

stylelint:
  run: npx stylelint {staged_files} --config=stylelint.config.js --fix

prettier:
  run: npx prettier  {staged_files} --config=prettier.config.js --write

Use new image component for image display
  components/molecules/ImageGallery/ImageGallery.js
Due: eslint

Fix image gallery img styling
  components/molecules/ImageGallery/ImageGallery.module.css
Due: stylelint

Allow for multiple classnames to pass lang and class
  components/atoms/Code/Code.js
Due: eslint

Pass classname to MediaText
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
Due: eslint

Add id/anchor to mediatext
  components/blocks/Gutenberg/BlockMediaText/BlockMediaText.js
  components/organisms/MediaText/MediaText.js
  components/organisms/MediaText/MediaText.stories.mdx
Due: eslint

Add id, classname to inner column
  components/blocks/Gutenberg/BlockColumns/BlockColumns.js
Due: eslint

Fix prop name
  components/blocks/Gutenberg/BlockColumns/BlockColumns.js
Due: eslint

Pass classname
  components/blocks/Gutenberg/BlockCover/BlockCover.js
Due: eslint

Pass anchor/id
  components/organisms/Hero/Hero.js
Due: eslint

Support anchor prop
  components/atoms/Separator/Separator.js
Due: eslint

Expand code story
  components/atoms/Code/Code.stories.mdx
Due: none

Expand hero story
  components/organisms/Hero/Hero.stories.mdx
Due: none

Expand separator story
  components/atoms/Separator/Separator.stories.mdx
Due: none

Add comma
  components/atoms/Code/Code.stories.mdx
Due: none

Remove unnecessary props from stories
  components/atoms/Code/Code.stories.mdx
  components/atoms/Separator/Separator.stories.mdx
  components/organisms/Hero/Hero.stories.mdx
  components/organisms/MediaText/MediaText.stories.mdx
Due: none

Add optional chaining to avoid error
  components/atoms/Code/Code.js
Due: eslint

Adding menu classnames and styling for up to 3 levels
  components/molecules/Navigation/Navigation.js
  components/molecules/Navigation/Navigation.module.css
Due: eslint, stylelint

Updated hover animation and position
  components/molecules/Navigation/Navigation.module.css
Due: stylelint

Dangerously display all submenus
  components/molecules/Navigation/Navigation.module.css
Due: stylelint

Scaffold Jest
  .babelrc
  .eslintrc.js
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  tests/jest/components/molecules/Navigation.test.js
Due: eslint, prettier

Add docker composer and other e2e-related stuff
  .gitignore
  docker-compose.yml
  package-lock.json
  package.json
  tests/e2e/README.md
  tests/e2e/install.js
  tests/e2e/wpCli.js
Due: eslint, prettier

Add missing block attr props
  components/blocks/Gutenberg/BlockButton/BlockButton.js
Due: eslint

Reorder props
  components/atoms/Button/Button.js
Due: eslint

Add custom style prop to Button
  components/atoms/Button/Button.js
Due: eslint

Pass styles through button block
  components/blocks/Gutenberg/BlockButton/BlockButton.js
Due: eslint

Add border radius support
  components/atoms/Button/Button.js
  components/blocks/Gutenberg/BlockButton/BlockButton.js
Due: eslint

Add flex wrap to button group
  components/molecules/ButtonGroup/ButtonGroup.module.css
Due: stylelint

Add width to button handling
  components/atoms/Button/Button.js
  components/blocks/Gutenberg/BlockButton/BlockButton.js
Due: eslint

Add handling for style outline
  components/atoms/Button/Button.js
  components/atoms/Button/Button.module.css
  components/blocks/Gutenberg/BlockButton/BlockButton.js
Due: eslint, stylelint

Adds checks to avoid errors
  components/blocks/Gutenberg/BlockButton/BlockButton.js
Due: eslint

Order props
  components/blocks/Gutenberg/BlockPullQuote/BlockPullQuote.js
Due: eslint

Ignore seed_wds.sql
  .gitignore
Due: none

Add export sql command
  package.json
  tests/e2e/exportSql.js
Due: eslint, prettier

Run composer for general public
  tests/e2e/install.js
Due: eslint

Order props
  components/atoms/PullQuote/PullQuote.js
Due: eslint

Add custom style to pullquote
  components/atoms/PullQuote/PullQuote.js
Due: eslint

Pass text color style to pullquote
  components/blocks/Gutenberg/BlockPullQuote/BlockPullQuote.js
Due: eslint

Handle background/main color
  components/atoms/PullQuote/PullQuote.js
  components/blocks/Gutenberg/BlockPullQuote/BlockPullQuote.js
Due: eslint

Add basic style handling
  components/blocks/Gutenberg/BlockPullQuote/BlockPullQuote.js
Due: eslint

Setup e2e for general public
  tests/e2e/install.js
  tests/e2e/seed.sql
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
