Repository WebDevStudios/nextjs-wordpress-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --config=.eslintrc.js --fix
    stylelint:
      glob: '*.{css,scss}'
      run: npx stylelint {staged_files} --config=stylelint.config.js --fix
    prettier:
      glob: '*.{md,html,json,yml}'
      run: npx prettier  {staged_files} --config=prettier.config.js --write

Add BlockCode
  packages/headless-core/src/components/blocks/BlockCode/BlockCode.js
  packages/headless-core/src/components/blocks/BlockCode/index.js
  packages/headless-core/src/components/blocks/index.js
Due: eslint

Add Columns, BlockColumns
  packages/headless-core/src/components/atoms/Columns/Columns.js
  packages/headless-core/src/components/atoms/Columns/Columns.module.css
  packages/headless-core/src/components/atoms/Columns/index.js
  packages/headless-core/src/components/atoms/index.js
  packages/headless-core/src/components/blocks/BlockColumns/BlockColumns.js
  packages/headless-core/src/components/blocks/BlockColumns/index.js
  packages/headless-core/src/components/blocks/index.js
Due: eslint, stylelint

Add formatFocalPoint
  packages/headless-core/src/utils/formatFocalPoint.js
  packages/headless-core/src/utils/index.js
Due: eslint

Add extractRgbValues, convertHextoRgb
  packages/headless-core/src/utils/convertHextoRgb.js
  packages/headless-core/src/utils/extractRgbValues.js
  packages/headless-core/src/utils/index.js
Due: eslint

Add Hero, BlockCover
  packages/headless-core/src/components/blocks/BlockCover/BlockCover.js
  packages/headless-core/src/components/blocks/BlockCover/index.js
  packages/headless-core/src/components/blocks/index.js
  packages/headless-core/src/components/index.js
  packages/headless-core/src/components/organisms/Hero/Hero.js
  packages/headless-core/src/components/organisms/Hero/Hero.module.css
  packages/headless-core/src/components/organisms/Hero/index.js
  packages/headless-core/src/components/organisms/index.js
Due: eslint, stylelint

Add RichText, TwitterEmbed, VideoEmbed, BlockEmbed
  packages/headless-core/package.json
  packages/headless-core/src/components/atoms/RichText/RichText.js
  packages/headless-core/src/components/atoms/RichText/RichText.module.css
  packages/headless-core/src/components/atoms/RichText/index.js
  packages/headless-core/src/components/atoms/TwitterEmbed/TwitterEmbed.js
  packages/headless-core/src/components/atoms/TwitterEmbed/TwitterEmbed.module.css
  packages/headless-core/src/components/atoms/TwitterEmbed/index.js
  packages/headless-core/src/components/atoms/VideoEmbed/VideoEmbed.js
  packages/headless-core/src/components/atoms/VideoEmbed/VideoEmbed.module.css
  packages/headless-core/src/components/atoms/VideoEmbed/index.js
  packages/headless-core/src/components/atoms/index.js
  packages/headless-core/src/components/blocks/BlockEmbed/BlockEmbed.js
  packages/headless-core/src/components/blocks/BlockEmbed/index.js
  packages/headless-core/src/components/blocks/index.js
Due: eslint, stylelint, prettier

Add Image, BlockImageGallery, ImageGallery
  packages/headless-core/src/components/atoms/Image/Image.js
  packages/headless-core/src/components/atoms/Image/Image.module.css
  packages/headless-core/src/components/atoms/Image/index.js
  packages/headless-core/src/components/atoms/index.js
  packages/headless-core/src/components/blocks/BlockImageGallery/BlockImageGallery.js
  packages/headless-core/src/components/blocks/BlockImageGallery/index.js
  packages/headless-core/src/components/blocks/index.js
  packages/headless-core/src/components/molecules/ImageGallery/ImageGallery.js
  packages/headless-core/src/components/molecules/ImageGallery/ImageGallery.module.css
  packages/headless-core/src/components/molecules/ImageGallery/index.js
  packages/headless-core/src/components/molecules/index.js
Due: eslint, stylelint

Add Heading, BlockHeadings
  packages/headless-core/src/components/atoms/Heading/Heading.js
  packages/headless-core/src/components/atoms/Heading/index.js
  packages/headless-core/src/components/atoms/index.js
  packages/headless-core/src/components/blocks/BlockHeadings/BlockHeadings.js
  packages/headless-core/src/components/blocks/BlockHeadings/index.js
  packages/headless-core/src/components/blocks/index.js
Due: eslint

Add BlockImage
  packages/headless-core/src/components/blocks/BlockImage/BlockImage.js
  packages/headless-core/src/components/blocks/BlockImage/index.js
  packages/headless-core/src/components/blocks/index.js
Due: eslint

Add BlockList
  packages/headless-core/src/components/blocks/BlockList/BlockList.js
  packages/headless-core/src/components/blocks/BlockList/index.js
  packages/headless-core/src/components/blocks/index.js
Due: eslint

Add MediaText, BlockMediaText
  packages/headless-core/src/components/blocks/BlockMediaText/BlockMediaText.js
  packages/headless-core/src/components/blocks/BlockMediaText/index.js
  packages/headless-core/src/components/blocks/index.js
  packages/headless-core/src/components/molecules/MediaText/MediaText.js
  packages/headless-core/src/components/molecules/MediaText/MediaText.module.css
  packages/headless-core/src/components/molecules/MediaText/index.js
  packages/headless-core/src/components/molecules/index.js
Due: eslint, stylelint

Add BlockParagraph
  packages/headless-core/src/components/blocks/BlockParagraph/BlockParagraph.js
  packages/headless-core/src/components/blocks/BlockParagraph/index.js
  packages/headless-core/src/components/blocks/index.js
Due: eslint

Add PullQuote, BlockPullQuote, Quote, BlockQuote
  packages/headless-core/src/components/atoms/PullQuote/PullQuote.js
  packages/headless-core/src/components/atoms/PullQuote/PullQuote.module.css
  packages/headless-core/src/components/atoms/PullQuote/index.js
  packages/headless-core/src/components/atoms/Quote/Quote.js
  packages/headless-core/src/components/atoms/Quote/Quote.module.css
  packages/headless-core/src/components/atoms/Quote/index.js
  packages/headless-core/src/components/atoms/index.js
  packages/headless-core/src/components/blocks/BlockPullQuote/BlockPullQuote.js
  packages/headless-core/src/components/blocks/BlockPullQuote/index.js
  packages/headless-core/src/components/blocks/BlockQuote/BlockQuote.js
  packages/headless-core/src/components/blocks/BlockQuote/index.js
  packages/headless-core/src/components/blocks/index.js
Due: eslint, stylelint

Add Separator, Spacer, Table, BlockSeparator, BlockSpacer, BlockTable
  packages/headless-core/src/components/atoms/Separator/Separator.js
  packages/headless-core/src/components/atoms/Separator/Separator.module.css
  packages/headless-core/src/components/atoms/Separator/index.js
  packages/headless-core/src/components/atoms/Spacer/Spacer.js
  packages/headless-core/src/components/atoms/Spacer/index.js
  packages/headless-core/src/components/atoms/Table/Table.js
  packages/headless-core/src/components/atoms/Table/Table.module.css
  packages/headless-core/src/components/atoms/Table/index.js
  packages/headless-core/src/components/atoms/index.js
  packages/headless-core/src/components/blocks/BlockSeparator/BlockSeparator.js
  packages/headless-core/src/components/blocks/BlockSeparator/index.js
  packages/headless-core/src/components/blocks/BlockSpacer/BlockSpacer.js
  packages/headless-core/src/components/blocks/BlockSpacer/index.js
  packages/headless-core/src/components/blocks/BlockTable/BlockTable.js
  packages/headless-core/src/components/blocks/BlockTable/index.js
  packages/headless-core/src/components/blocks/index.js
Due: eslint, stylelint

Update workspaces
  package.json
Due: prettier

Add endpoint fallback
  packages/headless-core/src/api/wordpress/client.js
Due: eslint

Add getPropTypes
  packages/headless-core/src/utils/getPropTypes.js
  packages/headless-core/src/utils/index.js
Due: eslint

Add getNextStaticPaths
  packages/headless-core/src/utils/getNextStaticPaths.js
  packages/headless-core/src/utils/index.js
Due: eslint

Add getGlobalData
  packages/headless-core/src/api/wordpress/global/getGlobalData.js
  packages/headless-core/src/api/wordpress/global/index.js
Due: eslint

Add getNextStaticProps
  packages/headless-core/src/utils/getNextStaticProps.js
  packages/headless-core/src/utils/index.js
Due: eslint

Fix param ordering
  packages/headless-core/src/api/wordpress/pages/single.js
  packages/headless-core/src/api/wordpress/posts/archive.js
  packages/headless-core/src/api/wordpress/posts/single.js
Due: eslint

Fix prop
  packages/headless-core/src/api/wordpress/global/getSinglePostOfType.js
Due: eslint

Add query for error 404 page, getHeadlessConfigPage
  packages/headless-core/src/api/wordpress/settings/headlessConfig.js
  packages/headless-core/src/api/wordpress/settings/index.js
Due: eslint

Add wait-on package
  package-lock.json
  package.json
Due: prettier

Add env commands
  package.json
Due: prettier

Ignore docker added WP default files
  .gitignore
Due: none

Add env:install script
  scripts/env/install.js
Due: eslint

Add docker-compose file
  docker-compose.yml
Due: prettier

Add headless config handling to static props
  packages/headless-core/src/utils/getNextStaticProps.js
Due: eslint

remove /core
  packages/core/.gitkeep
Due: none

Sync
  package-lock.json
Due: prettier

Add taxonomy handling to static paths
  packages/headless-core/src/utils/getNextStaticPaths.js
Due: eslint

Add next-auth as peer dep
  packages/headless-core/package.json
Due: prettier

bring in eslint and stylelint configs
  .eslintignore
  .eslintrc.js
  .stylelintignore
  .stylelintrc.js
Due: eslint

add README.md
  packages/headless-core/README.md
Due: prettier

add text
  packages/headless-core/README.md
Due: prettier

refactor package.json
  packages/headless-core/package.json
Due: prettier

install linting deps. point scripts at headless-core
  package-lock.json
  package.json
Due: prettier

Rename config page handling for clarity
  packages/headless-core/src/utils/getNextStaticProps.js
Due: eslint

remove private entry
  packages/headless-core/package.json
Due: prettier
